<input name="_id[]" type="hidden" value='$rd[id]'>
<tr align="center" $class>
	<td>$item_list</td>
	<td><input name="nong_du[]" $readonly type="text" class="center" value="{$rd['consistence']}" id="nongdu_$i"  wzid="{$rd['id']}" onBlur="jsfw($('#fanwei_$i'),$i)"/></td>
	<td><input name="bound[]"   $readonly type="text" class="center" value="{$rd['eligible_bound']}" id="buqueding_$i"  wzid="{$rd['id']}" onBlur="jsfw($('#fanwei_$i'),$i)"/></td>
	<td><input name="c_bound[]" $readonly type="text" class="center" value="{$rd['c_bound']}" id="fanwei_$i" wzid="{$rd['id']}" onBlur="jsfw(this,$i)"/></td>
	<td><input name="bw_note[]" $readonly type="text" class="center" value="{$rd['bw_note']}" /></td>
</tr>