<link rel="stylesheet" href="{$rooturl}/js/table-master/bootstrap-table.css" />
<script type="text/javascript" src="{$rooturl}/js/table-master/bootstrap-table.js"></script>
<script type="text/javascript" src="{$rooturl}/js/bootstrap.min.js"></script>
<script src="{$rooturl}/js/bootstrap-table/bootstrap-table-export.js"></script>
<script src="{$rooturl}/js/bootstrap-table/tableExport.js"></script>
<div style="width:100%;margin:0 auto;">
  <h3 class="header blue lighter smaller"></h3>
  <div id="tabs" style="width:90%;margin:0 auto;padding:0;" class="center">
  <ul>
    <li>
      <a href="#tabs-1" onclick="location='bzwz_list_jdwz.php?type=jdwz'+'#tabs-1'">剧毒物质</a>
    </li>
  </ul>
  <div id="tabs-1">$tabs_1_jdwz</div>
  </div>
</div>
<script type="text/javascript">
  $( "#tabs" ).tabs();
  $('#tabs').tabs({active:$tab_active})
  function print_taizhang(form,lx) {
      url = 'data/bzwz_taizhang_disp.php?wz_name=$wz_name&year=' + form.year.value;
      if(form.wz_type.value == '标准样品') {
          url += '&wz_type=bzyp';
          wz_type ='&wz_type=标准样品';
      } else if(form.wz_type.value == '标准溶液') {
          url += '&wz_type=bzry';
          wz_type = '&wz_type=标准溶液';
      }else{
        url += '&wz_type=jdwz';
          wz_type = '&wz_type=剧毒物质';
      }
      if(lx=='打印台账'){
       url += '&lx=1';
      }
      if(lx=='下载台账'){
        var wz_status = $("select[name='_wz_type']").find("option:selected").val();
       url = "bzwz_list_download.php?handle=download"+wz_type+"&_wz_type="+wz_status;
      }
      if(lx=='标准物质登记表'){
        url+='&lx=3';
      }
       window.open(url);
  }
  $(".delete").click(function(){
      return (confirm('你真的要删除吗?\\n一经删除,无法恢复!')) ? true:false;
  })
  $("form[name=bzwz_list] select").change(function(){
    location='bzwz_list.php?fzx_id='+bzwz_list.fzx_id.value+'&wz_name='+bzwz_list.wz_name.value+'&wz_type='+bzwz_list.wz_type.value+'&_wz_type='+bzwz_list._wz_type.value+'$tabs';
  });

function xiuxuhao(aa){
  var jiu = $(aa).html();
  var xuhao = prompt('请输入新的序号',jiu);
  var bdid=$(aa).attr('bd_id');
  //xuhao = xuhao.replace(/\s+/g,"");
  if(xuhao){
    $.get("bz_ajax.php?ajax=1",{act:'xiuxuhao',bdid:bdid,xuhao:xuhao,jiu:jiu},function(data){
      if(data!='ok'){
        alert('修改失败，请重试');
      }else{
        $(aa).html(xuhao);
      }
    },'html');
  }
}
$(document).ready(function() {
  $(".chosen-select").chosen();
  load_height();  
});
</script>
<script>
  $(window).ready(function(){
      $("#wz_type_subdivide").change(function(){
          var wz_type_subdivide = $(this).val();
          var wz_type =  $("input[name='wz_type']").val();
          if(wz_type=='剧毒物质'){
            var tabs = '#tabs-1';
          }
          window.location.href = "bzwz_list.php?fzx_id="+bzwz_list.fzx_id.value+"&wz_type="+wz_type+"&wz_type_subdivide="+wz_type_subdivide+tabs;
      });
  });
</script>
<script>
  //提醒天数的弹出框
  function tixing_day(){
    var day=$('#tixing_day').val();
    //验证用户输入 只取数字
    var match = day.match(/^\d+$/);
    if(!match){
      alert('只能输入数字');
    }
    $.get('bz_ajax.php?ajax=1',{status:'tixing_day',day:day},function(data){
        window.location.href="bzwz_list.php";
    })
  }
</script>