<input name=r id=r type=hidden value='$r'>

<tr align=center  style="color:$color">
<input type='hidden' name='id' value=$r[id]>   
 <td align=left onclick="px(this,$r[px_id])">$xx</td>
 $fzx_lie_content
    <td ><a href='hn_yiqiguanli.php?id=$r[id]&action=show' style="color:$color"><span class="aa">$r[yq_mingcheng]</span></a></td>
    <td>$r[yq_xinghao]</td>
    <td>$r[yq_jiage]</td>
    <td>$r[yq_sbbianhao]</td>	
    <td>$r[yq_state]</td>
    <td>$r[yq_gouzhirq]</td>
    <td>$xcjd_riqi</td>
    <td>$r[yq_sbdidian]</td>
    <td>{$fenlei}</td>
  </tr>
