<h1 align="center" >$biaotou</h1>
<table class='table table-striped table-bordered table-hover center' width="750" border="1" cellspacing="0" cellpadding="0">
  <tr align="center">
    <td>发送日期</td>
    <td align="center">$dd</td>
    <td>发送时间</td>
    <td>$ss</td>
  </tr>
  <tr align="center">
    <td>发送人</td>
    <td>$fbr</td>
    <td colspan='2'></td>
    
  </tr>
  <tr align="center" height='100px'>
    <td>内容</td>
    <td colspan='3' align='left'>&emsp;&emsp;{$r[xinxi]}</td>
  </tr>
</table>