<script type="text/javascript">
//如果分类总宽度大于页面宽度，就将每个减小，多出部分隐藏，来节省空间
	$(window).ready(function(){
		var table_width = $('.table').width();
		var types_width = 0;
		var i = 1;
	    $('.types').each(function(){
	    	types_width += $(this).width();
	    	i = i+1;
	    });
	    var w = types_width + i*5;
	    if(w > table_width){
	    	var percent = table_width / w;
	    	$('.types').each(function(){
	    		var width = $(this).width();
	    		var new_width = width * percent;
	    		var new_width = new_width+'px';
	    		$(this).removeAttr('style');
	    		$(this).css({'width' : new_width , 'overflow' : 'hidden'});
	    	});
	    }
	});

	function find_jibie(obj){
		var val = $(obj).val();
		$("td[name='label_jibie']").each(function(){
			var td_val = $(this).text();
			if(val!='全部'){
				if(val = '无级别'){
					val = '';
				}
				if(val == td_val){
					$(this).parent().show();
				}else{
					$(this).parent().hide();
				}
			}else{
				$(this).parent().show();
			}
		});
	}

	function find_name(obj){
		var val = $(obj).val();
		$("td[name='label_name']").each(function(){
			var td_val = $(this).text();
			if(val!='全部'){
				if(val == td_val){
					$(this).parent().show();
				}else{
					$(this).parent().hide();
				}
			}else{
				$(this).parent().show();
			}
		});
	}
	// //ajax实现入库
	// function ruku(obj , id){
	// 	$.get('sjqm_rck.php' , {'id' : id , 'action' : 'ru'} , function(data){
	// 		alert(data);
	// 	});
	// }
</script>
<div style="width:100%;margin:0 auto;">
  <h3  class="header smaller center title">库房管理</h3>
  <div id="tabs" style="width:100%;margin:0 auto;padding:0;" class="center" >
  <ul class='ul'>
    $label
  </ul>
  </div>
</div>
<form name="bzwz_list" action="#" method="get" autocomplete="on">
<div class="widget-header header-color-blue4 center">
	<div class="widget-toolbar">
		<center>
		<!-- {$_GET[type]}名称：
		<select name='test_name' class="chosen-select" onchange="find_name(this);" style="min-width:200px;">
			<option value='全部'>全部</option>
			$flstrn
		</select>
		{$_GET[type]}级别：
		<select name='test_jibie' onchange="find_jibie(this);" class="chosen-select">
			<option value='全部'>全部</option>
			$jibie_select
		</select> -->
			<!-- {$_GET[type]}名称：<select class="chosen-select" style="min-width:200px;" name='wz_name' onchange="location='sjqm_list.php?'+get_url();">
				<option value=''>全部</option>
				$flstrn
            </select>&nbsp;&nbsp;
            {$_GET[type]}级别：
            <select name='jibie' onchange="location='sjqm_list.php?'+jb_url(this);">
            	<option>全部</option>
            	$jibie_select
            </select> -->
            名称：<select class="chosen-select" style="min-width:150px;" name='wz_name' onchange="location='sjqm_list.php?'+get_url();">
				<option value=''>全部</option>
				$flstrn
            </select>&nbsp;&nbsp;
            级别：
            <select name='jibie' class="chosen-select" onchange="location='sjqm_list.php?'+jb_url(this);"style="min-width:150px;">
            	<option>全部</option>
            	$jibie_select
            </select>
            库存：
            <select name='kucun' onchange="location='sjqm_list.php?'+kc_url(this);">
            	<option>全部</option>
            	$kucun_select
            </select>
            存放位置：
            <select name='nice_name' onchange="location='sjqm_list.php?'+wz_url(this);">
            	<option>全部</option>
            	$nice_name_select
            </select>
            $fzx_select
			<input type=button class="btn btn-xs btn-primary qx_show_hidden" value="新增$types" onclick="location='sjqm.php?action=new_sjqm&type=$_GET[type]';">
			<input type=button class="btn btn-xs btn-primary qx_show_hidden" value='一览表' onclick="window.open('sjqm_jz.php?biao=1&'+get_url())">
			<input type=button class="btn btn-xs btn-primary qx_show_hidden" value='打印台帐' onclick="window.open('sjqm_jz.php?biao=2&'+get_url())">
			<input type=button class="btn btn-xs btn-primary qx_show_hidden" value='下载列表' onclick="download('$_GET[type]');">
			<input type=button class="btn btn-xs btn-primary qx_show_hidden" value='领用记录' onclick="window.open('sjqm_jz.php?biao=3&'+get_url())">
			<input type=button class="btn btn-xs btn-primary" value='领用申请' onclick="window.open('sjqm_rck.php?action=queren')">
			<input type=button class="btn btn-xs btn-primary" value='采购申请' onclick="window.open('sjqm_rck.php?action=sq_buy')">
			<input type=button class="btn btn-xs btn-primary qx_show_hidden" value='物品出库' onclick="window.open('sjqm_rck.php?action=chu')">
			<!-- <input type=button class="btn btn-xs btn-primary" value='打印条形码' onclick="window.open('dayinbm_save.php')"> -->
		</center>
	</div>
</div>
<table  class="table table-striped table-bordered table-hover center">
<tr align=center>
	<th>序号</th>
	<th>名称</th>
	$type_label
	<th>级别</th>
	<th>规格</th>
	<th>单位</th>
	<th>存放位置</th>
	<th>库存</th>
	<th>有效期</th>
	<th>条码号</th>
	<th>备注</th>
	<th>操作</th>
</tr>
$lines
</table>
</form>
<input type='hidden' name='typeed' value="{$_GET['type']}"/>
<input type='hidden' name='fzxd' value="{$_GET['fzx_id']}"/>
<!--领用申请-->
<div class="modal fade" id="lingyong_sq" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					
				</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="name">名称</label>
					<input type="text" class="form-control" id="sq_name" disabled>
				</div>
				<div class="form-group">
					<label for="name">当前库存</label>
					<input type="text" class="form-control" id="modal-kucun" disabled>
				</div>
				<div class="form-group">
					<label for="name">规格</label>
					<input type="text" class="form-control" id="modal-guige" disabled>
				</div>
				<div class="form-group">
					<label for="name">单位</label>
					<input type="text" class="form-control" id="modal-danwei" disabled>
				</div>
				<div class="form-group">
					<label for="name" id="modal-buydanwei">单位</label>
					<input type="text" class="form-control" id="modal_buy_danwei" id="buy_danwei">
				</div>
				<div class="form-group">
					<label for="name" id='modal-num'>数量</label>
					<input type="text" class="form-control" id="sq_num">
					<input type="hidden" id="kucun"><input type="hidden" id="id">
					<input type="hidden" id='type'>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" onclick="clear_form()">关闭
				</button>
				<button type="button" class="btn btn-primary" onclick="lingyong_sq_ajax()">
					提交申请
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<script type="text/javascript">
  $( "#tabs" ).tabs();
function xiuxuhao(aa){
  var jiu = $(aa).html();
  var xuhao = prompt('请输入新的序号',jiu);
  var bdid=$(aa).attr('bd_id');
  //xuhao = xuhao.replace(/\s+/g,"");
  if(xuhao){
    $.get("bz_ajax.php?ajax=1",{act:'xiuxuhao',bdid:bdid,xuhao:xuhao,jiu:jiu},function(data){
      if(data!='ok'){
        alert('修改失败，请重试');
      }else{
        $(aa).html(xuhao);
      }
    },'html');
  }
}
$(document).ready(function() {
  $(".chosen-select").chosen();
  load_height();  
});
</script>
<script type="text/javascript">
	$(function(){
		$(".chosen-select").chosen();
	});
	function get_url(){
		if($("#fzx_id").val()){
			var fzx_id = $("#fzx_id").val();
			fzx_url = "&fzx_id="+fzx_id;
		}else{
			fzx_url = "&fzx_id=$_GET[fzx_id]";
		}
		var url = 'name='+bzwz_list.wz_name.value+'&type=$_GET[type]'+fzx_url;
		return url;
	}
	function jb_url(obj){
		if($("#fzx_id").val()){
			var fzx_id = $("#fzx_id").val();
			fzx_url = "&fzx_id="+fzx_id;
		}else{
			fzx_url = "&fzx_id=$_GET[fzx_id]";
		}
		var url = 'jibie='+$(obj).val()+"&type=$_GET[type]"+"&nice_name="+$("select[name='nice_name']").val()+"&kucun="+$("select[name='kucun']").val()+fzx_url;
		return url;
	}
	function kc_url(obj){
		if($("#fzx_id").val()){
			var fzx_id = $("#fzx_id").val();
			fzx_url = "&fzx_id="+fzx_id;
		}else{
			fzx_url = "&fzx_id=$_GET[fzx_id]";
		}
		var url = "kucun="+$(obj).val()+"&type=$_GET[type]&jibie="+$("select[name='jibie']").val()+"&nice_name="+$("select[name='nice_name']").val()+fzx_url;
		return url;
	}
	function wz_url(obj){
		if($("#fzx_id").val()){
			var fzx_id = $("#fzx_id").val();
			fzx_url = "&fzx_id="+fzx_id;
		}else{
			fzx_url = "&fzx_id=$_GET[fzx_id]";
		}
		var url = "nice_name="+$(obj).val()+"&type=$_GET[type]&jibie="+$("select[name='jibie']").val()+"&kucun="+$("select[name='kucun']").val()+fzx_url;
		return url;
	}
	// $("select[name='jibie']").select2();
	$(window).ready(function(){
		var val = $("input[name='typeed']").val();
		var matching = new RegExp(val);
		$(".ul").children('li').each(function(){
			var label_val = $(this).text();
			if(matching.test(label_val)){
				$(this).addClass('ui-tabs-active ui-tabs-active');
			}else{
				$(this).removeClass('ui-tabs-active ui-tabs-active');
			}
		});	
		//判断查看人 如果有库房管理权限 那么显示操作选项，如果没有智能查看列表
		var qx = $("#qx").val();
		if(qx == '0'){
			$(".qx_show_hidden").each(function(){
				$(this).hide();
			});
		}else{
			$(".qx_show_hidden").each(function(){
				$(this).show();
			});
		}
	});
	$("#fzx_id").change(function(){
		var id = $(this).val();
		window.location.href = "sjqm_list.php?fzx_id="+id;
	});
	//下载列表页
	function download(type){
		if($("input[name='fzxd']").val()){
			var fzx = $("input[name='fzxd']").val();
		}else{
			var fzx = '1';
		}
		window.location.href = "sjqm_list.php?handle=download&type="+type+"&fzx_id="+fzx;
	}
	function print_bq(obj , id, kucun){
		var num = prompt('需要打印多少个标签？',kucun);
		$.get('dayinbm_save.php' , {"id": id , 'num':num});
	}
	//领用申请界面
	function sq(obj,obj2){
		var name=$(obj).parent().parent().find("td[name='label_name']").text();
		var kucun=$(obj).parent().parent().find("td[name='label_kucun']").text();
		var guige=$(obj).parent().parent().find("td[name='label_guige']").text();
		var danwei=$(obj).parent().parent().find("td[name='label_danwei']").text();
		var id=$(obj).parent().parent().find("[name='id']").val();
		$('#id').val(id);
		$('#sq_name').val(obj2);
		var title=obj2=='1'?'领用申请':'采购申请';
		var num=obj2=='1'?'领用数量':'采购数量';
		var buydanwei=obj2=='1'?'领用单位':'采购单位';
		$('#type').val(obj2);
		$('#myModalLabel').text(title);
		$('#modal-kucun').val(kucun);
		$('#modal-guige').val(guige);
		$('#modal-danwei').val(danwei);
		$('#modal-buydanwei').text(buydanwei);
		$('#modal-num').text(num);
		$('#sq_name').val(name);
		$('#sq_num').val('1');
		$('#kucun').val(kucun);
		$('#lingyong_sq').modal("show");
	}
	//发送领用申请
	function lingyong_sq_ajax(){
		var type=$('#type').val();
		var sjqm=type=='1'?'sjqm_sq':'sjqm_cg';
		var name=$('#sq_name').val();
		var r="^\\d+$";
		var num=$('#sq_num').val();
		var kucun=$('#kucun').val();
		var id=$('#id').val();
		var buy_danwei=$('#modal_buy_danwei').val();
		if(!/^\d+$/.test(num)&&type=='1'){  
			alert("请输入整数"); 
			return; 
		}
		if(kucun-num<0&&type=='1'){
			alert("当前库存为"+kucun+',请填写小于库存的数量');
			}else{
				$.get('sjqm_ajax.php?type='+sjqm+'&id='+id+'&name='+name+'&num='+num+'&buy_danwei='+buy_danwei,function(data){
				if(data=='success'){
					alert('申请成功');
					$('#lingyong_sq').modal('hide');
					clear_form();
				}else{
					alert("服务器故障,请稍后重试");
				}
			})
		}
	}
	//清楚弹出框的上次输入值
	function clear_form(){
		$('#modal_buy_danwei').val('');
		var num=$('#sq_num').val('1');
	}
</script>
<style type="text/css">
.bianse{color:red;}
</style>





