<div style="width:100%;margin:0 auto;">
  <h3  class="header smaller center title" style="text-align:center;">库房管理</h3>
  <div id="tabs" style="width:100%;margin:0 auto;padding:0;" class="center" >
  </div>
</div>
<form name="bzwz_list" action="#" method="get" autocomplete="on">
<table  class="table table-striped table-bordered table-hover center">
<tr align=center>
	<th>序号</th>
	<th>名称</th>
	$type_label
	<th>级别</th>
	<th>规格</th>
	<th>单位</th>
	<th>存放位置</th>
	<th>库存</th>
	<th>有效期</th>
	<th>条码号</th>
	<th>备注</th>
</tr>
$lines
</table>
</form>