<!--spread hyd　相关，　暂时放在header里面-->
<link href="{$rooturl}/js/lims/spread/lims.spread.css" rel="stylesheet" type="text/css" />
<link href="{$rooturl}/js/lims/spread/css/gc.spread.sheets.excel2013white.10.0.1.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$rooturl}/js/lims/spread/js/gc.spread.sheets.all.10.0.1.min.js"></script>
<script type="text/javascript" src="{$rooturl}/js/lims/spread/js/gc.spread.sheets.resources.zh.10.0.1.min.js"></script>
<script type="text/javascript" src="{$rooturl}/js/lims/spread/lims.spread.js"></script>
<script type="text/javascript" src="{$rooturl}/js/lims/spread/jsgs.js"></script>
<script type="text/javascript" src="{$rooturl}/js/lims/hyd.js"></script>
