<script>
function redirect( cy_date ){
    url = "?cy_date=" + cy_date + "&site_type=" + v('site_type');
    url += "&year=" + v( 'year') + "&month=" + v( 'month' );
    location = url;
}
function get_cy_date() {
    return  v('year') + "-" + v('month')
}
</script>
<h3 class="header smaller center title">下达测试任务列表</h3>
<div class="widget-box no-border">
  <div class="widget-header header-color-blue4 center">
	<div class="widget-toolbar">
		任务性质:<select id="site_type" onchange="redirect(get_cy_date())">$site_type_list</select>
		年份选择:<select id="year"      onchange="redirect(get_cy_date())">$year_list</select>
		月份选择:<select id="month"     onchange="redirect(get_cy_date())">$month_list</select> 
	</div>
  </div>
  <div class="widget-body">
<table class="table table-striped table-bordered table-hover center" style='table-layout:fixed'>
<tr align="center">
    <td width="5%">序号</td>
    <td width="10%">采样日期</td>
    <td width="13%">采样单号</td>
    <td width="20%">批名/委托单位</td>
    <td width="15%">采样人</td>
    <td width="17%">状态</td>
    <td width="20%">操作/记录表</td>
</tr>
$csrw_list_lines
</table>
</div>
</div>