<div class="cy_sites">
    <li style="text-align:center"><span style="font-size:20px;">任务信息</span></li>
    <li>采样日期：<span class="cy" name="yqcydate" data-t=0></span></li>
    <li>
        最近距离：<span class="cy" name="juli" id="juli" style="float: none;" data-t=0></span>M
        误差：<span class="cy" name="wucha" id="wucha" style="float: none;"data-t=0></span>
        当前距离：<span id="dqjuli" style="float: none;"></span>Km
        误差：<span id="dqwc" style="float: none;"></span>
    </li>
    <li>备注：<span class='cy' data-t=0 ></span></li>
    <li style="text-align:center;"><span style="font-size:20px;">现场采样数据</span></li>
    <li>采样时间：<input type='time' class=cy data-t=1 name='cy_time' value=''></li>
    <span style="width:auto;" id="mobile_cy_html"></span>
    <li>备注：<input class=cy data-t=1 name='cy_note'></li>
    <li>规定坐标：
        <span class='cy'  style="float: none;" name=s_jd data-t=0 ></span>:
        <span  style="float: none;" class='cy' name=s_wd data-t=0 ></span>
        半径：<span  style="float: none;" class='cy' name=banjing data-t=0 ></span>
    </li>
    <li>当前坐标：<span id="dqgeo" ></span><input type='hidden' name='check_zb_' value='0'></li>
    <br />
</div>
<!--临时存储图片数据流-->
<div id="file_img" ></div>
<div id="old_img" ></div><input type="text" name="compressValue" id="compressValue" style="display:none;" />
<div id="xc_img_data" style="display:none"></div>
