<link href='{$rooturl}/css/sweetalert2.css' rel="stylesheet" type="text/css">
<script src='{$rooturl}/js/sweetalert2.js'></script>
<link href='{$rooturl}/css/fileinput.css' rel="stylesheet" type="text/css">
<script src='{$rooturl}/js/fileinput.js'></script>
<style>
    .tablelv {
        border: 1px #0CF solid;
        border-collapse: collapse;
        width: 1250px;
        margin: auto
    }

    .tablelv * {
        color: #363636
    }

    .tablelv tr td {
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        border: 1px solid #00CCFF;
        align: center;
    }

    a {
        text-decoration: none
    }

    a:hover {
        color: red
    }

    input {
        background: #AACCFF
    }
    .is_hide{
        display: none;
    }
</style>
<h3 class="header smaller center title">{$title}</h3>
<table class=printer style="width:20cm">
    <tr align=right>
        <td>
            <input type="button" class="btn btn-xs btn-primary" onclick="add_modal()" value="新增" data-toggle="modal" data-target="#file_add" />
            <input type="button" class="btn btn-xs btn-primary {$hide}" onclick="return location='jigou_list.php'" value="返回">
        </td>
    </tr>
</table>

<table class="table table-striped table-bordered table-hover center" style="width:20cm">
    <thead>
        <tr align=center>
            <th>序号</th>
            <th>表单名称</th>
            <th>文件</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
    </thead>
    {$files_lines}
</table>

<!--添加的弹出框-->
<div class="modal fade" id="file_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="clear_form()">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加{$title}文件
                </h4>
            </div>
            <div class="modal-body">
                    <form class="form-horizontal"  role="form" onsubmit="return add_files()" enctype="multipart/form-data" id="upload_form" method="post">
                    <input type="hidden" value='{$mysql_table}' id='mysql_table'>
                    <input type="hidden" value='{$type}' id='mysql_ziduan'>
                    <input type="hidden" value='{$id}' id='id'>
                    <input type="hidden" value='' id='t_id'>
                    <input type="hidden" value='' id='file_k'>
                    <input type="hidden" value='' id="action">
                    <div class="form-group file_hide">
                            <label for="bdname" class="col-sm-2 control-label">表单名称：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="bdname" name="bdname" placeholder="请输入表单名称">
                            </div>
                    </div>
                    <div class="form-group file_hide">
                            <label for="beizhu" class="col-sm-2 control-label">备注：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="beizhu" name="beizhu" placeholder="请输入备注">
                            </div>
                    </div>
                    <div class="form-group u_files">
                            <label for="add_didian" class="col-sm-2 control-label">现有文件：</label>
                            <div class="col-sm-10" id="update_files">
                                    
                            </div>
                    </div>
                    <div class="form-group">
                            <label for="add_didian" class="col-sm-2 control-label">添加文件：</label>
                            <div class="col-sm-10">
                                    <input type="file" class="file"id="files" name="file[]" multiple>  
                            </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clear_form()">关闭
                </button>
                <button type="submit" class="btn btn-primary">
                    提交更改
                </button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>
//删除数据
function del(table,id,ziduan){
    swal(
      {
        title: "您确定要删除这个文件吗?",
        text: "删除后将无法恢复，请谨慎操作！",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "是的，我要删除！",
        cancelButtonText: "让我再考虑一下…",
        closeOnConfirm: false,
        closeOnCancel: false
      }).then(
      function (isConfirm) {
        if (isConfirm === true) {
            $.get('{$rooturl}/app_modal/files.php?action=del',{table:table,id:id,ziduan:ziduan},function(data){
                if(data=='ok'){
                    swal({
                        title: "成功",
                        text: "删除成功。",
                        type: "success"
                    });
                    update_table();
                }
            });
        }
        else {
          swal({
            title: "已取消",
            text: "您取消了删除操作！",
            type: "info"
          })
        }
      }
    )
}
//删除文件
function del_file(table,id,file_id,k_id,ziduan){
    swal(
      {
        title: "您确定要删除这个文件吗?",
        text: "删除后将无法恢复，请谨慎操作！",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "是的，我要删除！",
        cancelButtonText: "让我再考虑一下…",
        closeOnConfirm: false,
        closeOnCancel: false
      }).then(
      function (isConfirm) {
        if (isConfirm === true) {
            $.get('{$rooturl}/app_modal/jigou_file.php?action=del_file',{table:table,id:id,file_id:file_id,k_id:k_id,ziduan:ziduan},function(data){
                if(data=='ok'){
                    swal({
                        title: "成功",
                        text: "删除成功。",
                        type: "success"
                    });
                    update_table();
                }
            });
        }
        else {
          swal({
            title: "已取消",
            text: "您取消了删除操作！",
            type: "info"
          })
        }
      }
    )
}
//添加数据
function add_files(){
    setReturnValueFalse();//阻止form跳转页面
    mysql_table = $('#mysql_table').val();
    mysql_ziduan = $('#mysql_ziduan').val();
    bdname = $('#bdname').val();
    beizhu = $('#beizhu').val();
    action = $('#action').val();
    file_k = $('#file_k').val();
    id = $('#id').val();
    var ajax_upload=new Promise(function (resolve, reject) {
        //用formdata获取表单数据
        var formData = new FormData(document.getElementById('upload_form')); 
        //发送数据
        var xhr = new XMLHttpRequest();
        formData.append("file",document.getElementById("files"))
        formData.append('mysql_table', mysql_table );
        formData.append('bdname', bdname );
        formData.append('beizhu', beizhu );
        formData.append('action', action );
        formData.append('file_k', file_k );
        formData.append('type', mysql_ziduan );
        formData.append('id', id );
        xhr.open('POST', '{$rooturl}/app_modal/files.php',true);
        xhr.onreadystatechange = function() {
            if ( xhr.readyState === 4 ) {
                if ( Number(xhr.responseText) === 200 ) {
                    resolve('ok');
                } else {
                    resolve('');
                }
            }
        }
        xhr.send( formData );
    });
    ajax_upload.then(function(value) {
        $('#train_add').modal('hide');
        swal({
            type: 'success',
            title: '添加成功',
            html: ' '
        });
        clear_form();
        update_table();
    }, function(value) {
        
    });
}
//更新数据
function update_table(){
    setTimeout(function () {
        location.reload();
    }, 2000);
}
//清楚form数据
function clear_form(){
    $('#bdname').val('');
    $('#beizhu').val('');
    $('#files').fileinput('clear');
    $('.u_files').val('');
}
function add_modal(){
    clear_form();
    $('.file_hide').show();
    $('.u_files').hide();
    $('#action').val('add');
    $('#edit_id').val();
}
//添加单个文件
function add_file(k){
    $('#file_add').modal('show');
    clear_form();
    $('#file_k').val(k);
    $('.u_files').hide();
    $('#action').val('add_file');
    $('.file_hide').hide();
}
//修改
function xiugai(k,obj){
    $('#file_add').modal('show');
    $('.file_hide').show();
    $('.u_files').show();
    clear_form();
    $('#file_k').val(k);
    var bdname=$(obj).parent().parent().find('.bdname').text();
    var beizhu=$(obj).parent().parent().find('.beizhu').text();
    var files=$(obj).parent().parent().find('.file').html();
    $('#bdname').val(bdname);
    $('#beizhu').val(beizhu);
    $('#update_files').html(files);
    $('#action').val('update');
}
//上传控件初始化
$("#files").fileinput({
    language: 'zh',
    uploadUrl: '.',
    uploadAsync: false, //设置上传同步异步 此为同步  
    maxFileSize: 100000,//上传大小
    showUpload: false,
    maxFileCount: 10, //表示允许同时上传的最大文件个数
    enctype: 'multipart/form-data',
    //隐藏上传按钮
    layoutTemplates: {
        actionUpload: '',
    }
});
</script>
<script>  
        
/*firefox----在火狐下使用event对象----*/  

function __firefox(){  

    HTMLElement.prototype.__defineGetter__("runtimeStyle", __element_style);  

    window.constructor.prototype.__defineGetter__("event", __window_event);  

    Event.prototype.__defineGetter__("srcElement", __event_srcElement);  

}  

function __element_style(){  

    return this.style;  

}  

function __window_event(){  

    return __window_event_constructor();  

}  

function __event_srcElement(){  

    return this.target;  

}  

function __window_event_constructor(){  

    if(document.all){  

        return window.event;  

    }  

    var _caller = __window_event_constructor.caller;  

    while(_caller!=null){  

        var _argument = _caller.arguments[0];  

        if(_argument){  

            var _temp = _argument.constructor;  

            if(_temp.toString().indexOf("Event")!=-1){  

                return _argument;  

            }  

        }  

        _caller = _caller.caller;  

    }  

    return null;  

}  

if(window.addEventListener){  

    __firefox();  

}  
    
    
function setReturnValueFalse()  
    
{    
    
    if(document.all)  
    
    {  
    
        window.event.returnValue = false;  
    
    }  
    
    else  
    
    {  
    
        event.preventDefault();  
    
    }  
    
}  
</script> 