<tr align=center>
<td>$month</td>
<td title=周数:{$data[weeks][0]}>{$data[cy_week_total][0]}</td>
<td title=周数:{$data[weeks][1]}>{$data[cy_week_total][1]}</td>
<td title=周数:{$data[weeks][2]}>{$data[cy_week_total][2]}</td>
<td title=周数:{$data[weeks][3]}>{$data[cy_week_total][3]}</td>
<td title=周数:{$data[weeks][4]}>{$data[cy_week_total][4]}</td>
<td title=周数:{$data[weeks][5]}>{$data[cy_week_total][5]}</td>
<td>{$data[cy_total]}</td>
<td title=周数:{$data[weeks][0]}>{$data[hy_week_total][0]}</td>
<td title=周数:{$data[weeks][1]}>{$data[hy_week_total][1]}</td>
<td title=周数:{$data[weeks][2]}>{$data[hy_week_total][2]}</td>
<td title=周数:{$data[weeks][3]}>{$data[hy_week_total][3]}</td>
<td title=周数:{$data[weeks][4]}>{$data[hy_week_total][4]}</td>
<td title=周数:{$data[weeks][5]}>{$data[hy_week_total][5]}</td>
<td>{$data[hy_total]}</td>
</tr>