<script type="text/javascript">
	function show_hyd(tid){
		window.open("$rooturl/huayan/assay_form.php?tid="+tid); 
	}
</script>
<div style="background-color: #FFFFFF; width:20cm;margin:0 auto;" >
<table style="border-color:#000;border-collapse:collapse;margin:0 auto;width:19cm;" align="center">
	<tbody>
		<tr class="firstRow" style="font-family:楷体;font-size:64pt;text-align:center;line-height:2em;">
			<td style="word-break: break-all;padding-top:100px;" colspan="2">检测报告<br/></td>
		</tr>
		<tr align="center">
			<td style="font-family:楷体; font-size: 16pt; word-break: break-all;" colspan="2">报告编号:(青水监)字{$nian}（年）第{$bh}号<br/></td>
		</tr>
		<tr align="center" style="height:210px">
			<td style="font-family: 黑体; font-size: 16pt; word-break: break-all;" colspan="2"></td>
		</tr>
		<tr style="line-height:2em;font-family:楷体;font-size:16pt;">
			<td style="word-break: break-all;" align="right" width="40%">委托单位:</td>
			<td style="word-break: break-all;line-height:1em;">{$wtdw}</td>
		</tr>
		<tr style="line-height:2em;font-family:楷体;font-size:16pt;">
			<td style="word-break: break-all;" align="right">样品类别:</td>
			<td style="word-break: break-all;">{$szlx}<br/></td>
		</tr>
		<tr style="line-height:2em;font-family:楷体;font-size:16pt;">
			<td style="word-break: break-all;" align="right">报告日期:</td>
			<td style="word-break: break-all;">$bgrq<br/></td>
		</tr>
		<tr style="line-height:2em;font-family:楷体;font-size:16pt;">
			<td style="word-break: break-all;" align="right">&nbsp;&nbsp;</td>
			<td style="word-break: break-all;">&nbsp;&nbsp;<br/></td>
		</tr>
		<tr style="line-height:2em;font-family:楷体;font-size:16pt;">
			<td style="word-break: break-all;" align="right">&nbsp;&nbsp;</td>
			<td style="word-break: break-all;">&nbsp;&nbsp;<br/></td>
		</tr>
		<tr align="center" style="height:40px">
			<td style="font-family:楷体; font-size: 16pt; word-break: break-all;" colspan="2"></td>
		</tr>
		<tr align="center">
			<td style="line-height: 2em; font-family:楷体; font-size: 24pt; word-break: break-all;" colspan="2">国家城市供水水质监测网<br/>青岛监测站</td>
		</tr>
	</tbody>
</table>
</div>
<div style="height:3px;width:19cm"></div>