<div style="background-color: #FFFFFF; width:20cm;margin:0 auto;" >
<table style="width:19cm;padding-top:50px" align="center">
	<tbody>
		<tr class="firstRow">
			<td style="padding-left:50px;text-align:left;font-family:黑体;font-size:16pt;height:4cm">说明:</td>
		</tr>
		<tr>
			<td style="line-height: 2em; font-family:楷体; font-size: 16pt; word-break: break-all;padding-left:50px;padding-right:50px"><br/>1、本报告经签字盖章后生效。<br/>2、本报告涂改后无效。<br/>3、本监测站依照委托书中的样品检测内容出具报告。委托单位若将检测报告作为仲裁依据，须由监测站按规范采样。<br/>4、由委托单位自行采、送检测的样品，本报告只对送检样品负责。不得用于证明同类或同批次产品的符合性情况。不得以该样品检验检测数据和结果进行误导性的有关说明。<br/>5、本报告未经本站书面批准，不得部分复制检测报告，不得作为商品广告之用。<br/>6、对本报告有异议时请于报告发出之日起十五日内向本监测站提出。<br/><br/><br/>
			</td>
		</tr>
	</tbody>
</table>
<table style="width:19cm;" align="center">
	<tbody>
		<tr class="firstRow">
			<td><strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;<br/></td>
		</tr>
		<tr class="firstRow">
			<td><strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;<br/></td>
		</tr>
		<tr class="firstRow" style="line-height:2em;font-family:宋体;font-size:12pt;">
			<td style="padding-left:50px;">{$jcdw[hub_name]}<br/></td>
		</tr>
		<tr class="firstRow" style="line-height:2em;font-family:宋体;font-size:12pt;">
			<td style="padding-left:50px;">地址：{$jcdw[Address]}<br/></td>
		</tr>
		<tr style="line-height:2em;font-family:宋体;font-size:12pt;">
			<td style="word-break: break-all;padding-left:50px">电话：{$jcdw[Phone]}</td>
		</tr>
		<tr style="line-height:2em;font-family:宋体;font-size:12pt;">
			<td style="padding-left:50px;">邮编：{$jcdw[youbian]}<br/></td>
		</tr>
	</tbody>
</table>
</div>