<div class="widget-box transparent div-title">
    <div class="widget-header center">
        <h3 class="header smaller title" style="color:#000;padding-left:80px;">站点管理</h3>
        <div class="widget-toolbar no-border">
            <button id="addSite" class="btn btn-minier btn-primary">添加</button>
            <button id="implodeSite" class="btn btn-minier btn-primary">导入</button>
        </div>
    </div>
</div>
<div class="widget-header header-color-blue4 center div-gongju">
    <div class="widget-toolbar" >
        <!--蓝色工具栏-->
        <input type='text' name='search_site' value='' id='search'  onkeyup="input_search(this);" placeholder='请输入搜索内容' class='search_site' />
        <i class="icon-search"> </i>
    </div>
</div>
<div class="item" id='sites_box'>
    {$type_site_html}
</div>
<!--右边筛选按钮-->
<div id="filter_button_box">
    <span id="checkec_modi" title="站点类型筛选">
        <i id="end"></i>
        <span class='filter_font'>批量<br>修改</span>
        <i class="icon-edit bigger-130"> </i>
        <span class="badge badge-danger" id="modi_site_num">0</span>
        <!-- <div id="msg">已成功加入站点！</div>  -->
    </span>
    <span id="fileter_site_type" title="站点类型筛选">
        <span class='filter_font'>筛选<br>站点</span><i class="glyphicon glyphicon-indent-right"> </i> 
    </span>
</div>
<!--选中站点后的弹出层-->
<div id="checked_site_box">
    <h3 class="smaller title" style="color:#000;text-align: center;">站点类型筛选</h3><hr>
    <table id='site_modi_box'>
        <tr>
            <th style="width:100px;">已选站点</th>
            <td id="checked_site" class="item"><!--选中站点--></td>
        </tr>
        <tr>
            <td colspan="2">
                <button id='water_type_button' class="btn btn-xs btn-primary">显示水样类型</button>
                <button id='site_type_button' class="btn btn-xs btn-primary">显示站点类型</button>
                <button id='site_xm_button' class="btn btn-xs btn-primary">隐藏监测项目区域</button>
            </td>
        </tr>
        <tr id="water_type" >
            <th>水样类型修改</th>
            <td style="text-align:left;" >
                <select name="modi[water_type]" id="modi_water_type" class='sl'>$leix</select>
            </td>
        </tr>
        <tr id='site_type_tr'>
            <th>站点类型修改</th>
            <td class="tree" id='site_tree'>
                <!--任务树-->
                <input type='hidden' name="modi[site_type]" id="site_type_id" value="" />
            </td>
        </tr>
        <tr class='site_xm_tr'>
            <th colspan="2">监测项目修改 <b>已选择 ( <span id='modi_xm_num' style='color:red;'>0</span> )项</b></th>
        </tr>
        <tr class='site_xm_tr'>
            <td id='xm_modi'  colspan="2">
                <!--项目修改-->
                {$jcxm_list_html}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="width:100%;height:35px;"><!--不要删除 用于防止遮罩层阻挡最后面的站点选中--></div>
                <div style="width:100%;height:35px;position:fixed;bottom:0px;background-color:#96ABBA;opacity:0.5;"></div>
                <input class="btn btn-primary btn-sm" type="button" id="site_modi_submit" style="position: fixed;left: calc(75% - 40px);bottom:0px;height:33px;opacity:1;" value="确定修改">
            </td>
        </tr>
    </table>
    <div class='tree'  id="tree">
        <!--树状图-->
    </div>
</div>
<script>
$(function(){
    //批量修改的保存
    $("#site_modi_submit").click(function(){
        var modi_site   = '';
        $("#checked_site input[name='chose_site_id']:checked").each(function(){
            modi_site   += $(this).val()+",";
        });
        if(modi_site){
            modi_site   = modi_site.slice(0,-1);
        }
        var water_type  = $("#modi_water_type:visible").val();
        var site_type   = $("#site_type_tr:visible").find("#site_type_id").val();
        var site_xm     = '';
        $("#xm_modi input[name='vid[]']:visible:checked").each(function(){
            site_xm += $(this).val()+",";
        });
        if(site_xm){
            site_xm = site_xm.slice(0,-1);
        }
        var post_filed  = {};
        if(modi_site){
            post_filed['modi_site']  = modi_site;
        }
        if(water_type){
            post_filed['water_type']  = water_type;
        }
        if(site_xm){
            post_filed['site_xm']  = site_xm;
        }
        if(site_type){
            post_filed['site_type']  = site_type;
        }
        //参数
        if(!modi_site){
            alert('请先选择站点');
            return false;
        }
        if(!post_filed){
            alert('请设置更改内容');
            return false;
        }
        if(modi_site && post_filed){
            $.post("{$rooturl}/site/more_site_modi.php",{"action":"more_site_modi","field":post_filed,"ajax":"yes"},function(data){
                /*录屏用*/
                alert('保存成功');
                $("#checked_site_box").hide("slide",{direction : "right"},500);
                location.reload();
            },'html')
        }
        
    });
    //水样类型修改区域
    $("#water_type_button").click(function(){
        if($(this).text() =='显示水样类型'){
            $(this).text('隐藏水样类型');
        }else{
            $(this).text('显示水样类型');
        }
        $("#water_type").toggle();
    });
    //站点类型修改区域
    $("#site_type_button").click(function(){
        if($(this).text() =='显示站点类型'){
            $(this).text('隐藏站点类型');
        }else{
            $(this).text('显示站点类型');
        }
        $("#site_type_tr").toggle();
    });
    //监测项目修改区域
    $("#site_xm_button").click(function(){
        if($(this).text() =='显示默认监测项目'){
            $(this).text('隐藏监测项目区域');
        }else{
            $(this).text('显示默认监测项目');
        }
        $(".site_xm_tr").toggle();
    });
    //添加站点
    $("#addSite").click(function(){
        location.href = '{$rooturl}/site/group_add_sites.php';
    });
    //上传站点
    $("#implodeSite").click(function(){
        location.href = '{$rooturl}/basis_data_set/site_import.php';
    });
    //修改站点信息
    $(".modi_button").click(function(event){
        event.stopPropagation();//防止事件冒泡到父亲
        var sid = $(this).attr('sid');
        location.href = '{$rooturl}/site/site_info.php?site_id='+sid;
    });
    //隐藏站点、删除站点
    $(".remove_button").click(function(event){
        event.stopPropagation();//防止事件冒泡到父亲
        var sid = $(this).attr('sid');
        if(confirm("确定删除此站点吗？")){
            $.post("{$rooturl}/site/site_delete.php?sid="+sid,{'ajax':'yes'},function(data){
                if(data=='yes'){
                    $(".site-div[sid='"+sid+"']").hide('5000',function(){
                        $(this).remove();
                    });
                }else{
                    alert('删除失败！请刷新页面重试');
                }
            },'html')
        }
    });
    //显示任务树
    $("#fileter_site_type,#checkec_modi").click(function(){
        var this_id = $(this).attr('id');
        if(this_id == 'fileter_site_type'){
            $("#tree").show();
            $("#site_modi_box").hide();
            $(".title").html('站点类型筛选');
        }else{
            $("#tree").hide();
            $("#site_modi_box").show();
            $(".title").html('站点信息批量更改');
        }
        $("#checked_site_box").show("slide",{direction : "right"},500);
        return false;
    })
    //点击其他地方隐藏右侧面板
    $(document).bind('click',function(e){
        var e = e || window.event; //浏览器兼容性
        var elem = e.target || e.srcElement;
        while (elem) { //循环判断至跟节点，防止点击的是div子元素
            if (elem.id && elem.id=='checked_site_box') {
                return;
            }
            elem = elem.parentNode;
        }
        $("#checked_site_box").hide("slide",{direction : "right"},500);
    });
    //取消直接选择站点多选框效果，只执行外部div的click效果
    $("input[name='site_id']").click(function(event){
        if($(this).is(":checked")){
            $(this).prop('checked',false);
        }else{
            $(this).prop('checked',true);
        }
    });
    //点击站点飞入右侧弹出层效果
    var offset = $("#end").offset();
    $(".site-div").click(function(event){
        //event.stopPropagation();//防止事件冒泡到父亲
        // event.preventDefault();//取消父级的默认行为,防止label事件触发两次
        var addcar      = $(this);
        var addcar_input= addcar.find("input[name='site_id']");//对应多选框
        var site_id     = addcar_input.val();
        var site_name   = addcar_input.next('span.site_name').text();
        if(addcar_input.is(":checked")){
            addcar_input.prop('checked',false);
            $(this).removeClass("checked");
            //取消选中挑选出的对应站点
            $("input[name='chose_site_id'][value='"+site_id+"']").prop('checked',false).parent("div[class*='col-xs']").removeClass('checked');
            var chose_site_num  = $("input[name='chose_site_id']:checked").length;
            $("#modi_site_num").html(chose_site_num).show();//选中站点数量
        }else{
            addcar_input.prop('checked',true);
            $(this).addClass("checked");
            var content     = addcar.find('.site_name').html();
            var flyer       = $('<div class="u-flyer">'+content+'</div>');
            flyer.fly({
                start: {
                    left: event.pageX,
                    top: event.pageY
                },
                end: {
                    left: offset.left+10,
                    top: offset.top+10,
                    width: 0,
                    height: 0
                },
                onEnd: function(){
                    //$("#msg").show().animate({width: '250px'}, 200).fadeOut(1000);
                    //addcar.unbind('click');
                    var input_old_num = $("input[name='chose_site_id'][value='"+site_id+"']").length;//已挑选站点的数量
                    if(input_old_num < '1'){
                        var site_html   = "<div class='col-xs-1 checked' title='"+site_name+"'><label><input type='checkbox' name='chose_site_id' value='"+site_id+"' checked /><span>"+site_name+"</span></label></div>";
                        $("#checked_site").append(site_html);
                    }else{
                        $("input[name='chose_site_id'][value='"+site_id+"']").prop('checked',true).parent("div[class*='col-xs']").addClass('checked');
                    }
                    var chose_site_num  = $("input[name='chose_site_id']:checked").length;
                    $("#modi_site_num").html(chose_site_num).show();//选出站点数量
                    this.destory();
                }
            });
        }
    });
    //选中站点是统计数量
    $("#xm_modi input[name='vid[]']").click(function(){
        count_xm_num();
    });
})
//统计选中项目的数量
function count_xm_num(){
    var modi_xm_num = $("#xm_modi input[name='vid[]']:checked").length;
    $("#modi_xm_num").html(modi_xm_num);
}
//搜索(支持空格多项搜索)，应当排除按钮里的文字
function input_search(search_input){
    var search_val  = search_input.value;
    //不能搜索特殊字符
    var bbb = /[()<>.+*?^$|\\\[\]]/;
    if(bbb.test(search_val)){
        alert('不能输入一下特殊符号:\\r\\n()<>.+*?^$|\[]');//+bbb.source
        search_input.value=search_val.substr(0,-1);
        search_input.focus();
        return false;
    }
    //去除首尾的空格和中间多余的空格
    search_val  = search_val.replace(/(^\s*)|(\s*$)/g, "").replace(/ {2,}/g,' ');
    //清除掉为了突出提醒而增加的html标签
    $("div.site-div[search='yes'] span.js_add").each(function(i){
        var old_html    = $(this).html().replace(/(<b class="js_add" style="color:red;">(.+?)<\/b>)/g,'$2');
        $(this).html(old_html).removeClass('js_add');
    });
    $("div.site-div[search='yes']").show().parent('fieldset').show();//搜索前先把所有待搜索内容显示出来
    $(".no_show_tishi").remove();//删除提示内容
    //搜索内容不为空时再进行搜索
    if(search_val){
        var search_arr  = search_val.split(' ');
        //定义搜索内容
        if(search_arr.length >1){
            var jquery_search   = ":contains("+search_arr.join("):contains(")+")";
        }else{
            var jquery_search   = ":contains("+search_val+")";
        }
        //逐行开始检索
        $("div.site-div[search='yes']").hide().each(function(i){
            //查找是否有包含搜索内容的td，包含内容的将tr显示，没有的隐藏
            var find_td = $(this).find("span.site_name"+jquery_search);
            if(find_td.length > 0){
                $(this).show();
                find_td.addClass('js_add');//增加一个class，去掉该标签时容易识别
                setHeightKeyWord(find_td,search_val);
            }
        });
    }else{
        $("div.site-div[search='yes']").show();
    }
    //没有搜索内容时，增加提示
    var show_site_num = $("div.site-div[search='yes']:visible").length;
    if(show_site_num <='0'){
        $("#sites_box").append("<div class='no_show_tishi'>没有搜索到相关站点!</div>");
    }
    //隐藏没有站点的类型
    $("fieldset:visible").each(function(){
        var site_num    = $(this).find('.site-div:visible').length;
        if(site_num <= '0'){
            $(this).hide();
        }
    });
}
//搜索到的东西变个颜色突出显示
function setHeightKeyWord(id, keyword) {
    if (keyword == "" || keyword==' ')
        return;
    var tempHTML = id.html();
    //把html标签特殊标记出来，防止后面匹配时匹配到
    var htmlReg = new RegExp("\<.*?\>", "i");
    var arrA = new Array();
    for (var i = 0; true; i++) {
        var m = htmlReg.exec(tempHTML);
        if (m) {
            arrA[i] = m;
        }else {
            break;
        }
        tempHTML = tempHTML.replace(m, "&#&%" + i + "%&#&");
    }
    //根据传入参数决定将搜索到的内容如何处理
    var replaceText = "<b class='js_add' style='color:red;'>$1</b>";
    //可以根据空格进行多次并列搜索
    var arrayWord = keyword.split(' ');
    for (var w = 0; w < arrayWord.length; w++) {
        var ts_zf   = arrayWord[w].replace(/[(){}.+*?^$|\\\[\]]/g, "\\$&");
        //将js的特殊字符转义一下,并注意注意不要匹配到特殊标记的 html标签//bug 特殊字符的转义失败导致不能搜索特殊字符
        var r       = new RegExp("("+ts_zf+")", "ig");
        //解决 纯数字搜索时会匹配到特殊标记的html标签的bug
        var str_key = tempHTML.match(/&#&%[0-9]+?%&#&/g);//记录下所有特殊标记的html标签
        if(!isNaN(arrayWord[w]) && str_key){//如果搜索的纯数字走这里
            var str_arr = tempHTML.split(/&#&%[0-9]+?%&#&/);//根据特殊html标记 将字符串分解成数组
            var finist_str  = '';
            for (var i = 0; i<str_arr.length; i++) {
                finist_str += str_arr[i].replace(r, replaceText);
                if(str_key[i]){
                    finist_str += str_key[i];
                }
            }
            tempHTML    = finist_str;
        }else{
            var r = new RegExp("((?!&#&%)" + ts_zf + "(?!%&#&))", "ig");
            tempHTML = tempHTML.replace(r, replaceText);
        }
    }
    //把被搜索内容中转换的html标签恢复
    for (var i = 0; i < arrA.length; i++) {
        tempHTML = tempHTML.replace("&#&%" + i + "%&#&", arrA[i]);
    }
    //将改变后的html写回原标签
    id.html(tempHTML);
} 
//###树状图 js
var filter_start    = 'yes';//初始筛选状态
//var select_node = {};
//flare_Data变量在flare.js中定义，使用时一般是ajax请求过来的数据
var site_tree_width = $("#site_tree").width();
var tree        = treeSvg({$zNodes},900,300,100,"tree");
var site_tree   = treeSvg({$zNodes},560,300,100,"site_tree");
//点击节点后回调函数，全局变量select_node存储当前被选中的节点
function clickNodetrigger(data)
{
    //console.log(select_node);
    //console.log(data)
    var site_modi_status= $("#site_tree:visible").length;
    if(site_modi_status >0){//批量更改 站点类型
        var site_type_list  = [];
        for(var i in site_tree.select_node){
            site_type_list.push(i);

        }
        var site_type_id    = site_type_list.join(',');
        $("#site_type_id").val(site_type_id);
    }else{//任务书筛选
        var parent_is_true  = tree.now_node_father_is_check;//父级是否被选中
        var child_is_true   = tree.now_node_child_is_check;//子级是否被选中
        var prev_parent_id  = tree.now_node_father_checked_id;//紧邻着的父级id
        var now_node_is_check   = data.check;//当前点击节点是否被选中
        var now_node_id     = data.id;//当前选中类型的id
        var caozuo_mark = '';//操作标识
        if(now_node_is_check){//当前节点被选中
            if(child_is_true){//子节点被选中
                caozuo_mark = 'no_caozuo';
            }else{
                if(parent_is_true){//父节点是被选中
                    caozuo_mark = 'hide_parent';
                    //如果父级下有其他子类站点
                }else{
                    caozuo_mark = 'show';
                }
            }
        }else{//当前节点未选中
            if(child_is_true){//子节点是否被选中
                caozuo_mark = 'no_caozuo';
            }else{
                if(parent_is_true){//父节点是否被选中
                    caozuo_mark = 'show_parent';//显示选中的父节点
                }else{
                    caozuo_mark = 'hide';
                }
            }
        }
        if(filter_start =='yes'){
            $(".site-div").hide().attr('search',"no");
            filter_start    = 'no';
        }
        if($.isEmptyObject(tree.select_node)){
            filter_start    = 'yes';
            $(".site-div").show().attr('search','yes');
            $(".site_box").show();
            return false;
        }
        //根据操作标识筛选相应站点
        switch(caozuo_mark){
            case 'show':
                $(".site-div[stid*=',"+now_node_id+",']").show().attr('search','yes').parent(".site_box").show();
                break;
            case 'hide':
                $(".site-div[stid*=',"+now_node_id+",']").hide().attr('search',"no");
                break;
            case 'show_parent'://显示父级选中选中元素下的站点
                $(".site-div[stid*=',"+prev_parent_id+",']").show().attr('search','yes').parent(".site_box").show();
                break;
            case 'hide_parent'://隐藏父级元素下的站点，只显示本元素下的站点
                $(".site-div[stid*=',"+prev_parent_id+",']").hide().attr('search',"no");
                $(".site-div[stid*=',"+now_node_id+",']").show().attr('search','yes');
                break;
            default:
                //不处理
                break;
        }
        //隐藏没有站点的类型
        $("fieldset:visible").each(function(){
            var site_num    = $(this).find('.site-div:visible').length;
            if(site_num <= '0'){
                $(this).hide();
            }else{
                $(this).find('.site_num').html(site_num);
            }
        });
        //没有搜索内容时，增加提示
        $(".no_show_tishi").remove();
        var show_site_num = $("div.site-div[search='yes']:visible").length;
        if(show_site_num <='0'){
            $("#sites_box").append("<div class='no_show_tishi'>没有搜索到相关站点!</div>");
        }
    }
}
//$("#node6").css({'stroke': 'red','stroke-width': '3px'});//测试选中任务树站点类型
//$("[id*=node]").css({'stroke': 'red','stroke-width': '3px'});//全选
//###树状图结束
</script>
<style>
    #water_type,#site_type_tr{
        display: none;
    }
    #checked_site_box{/*右侧弹出层*/
        width:55%;
        height: 100%;
        position: fixed;
        right:0;
        top:0;
        z-index: 6;
        background: #FCFCFC;/*#F4FFFB;*/
        display: none;
        border-left:#CCC 2px solid;
        box-shadow:-1px 2px 10px #aaaaaa;
        overflow: auto;
    }
    #filter_button_box{/*右侧悬浮按钮区域*/
        width:60px;
        position: fixed;
        right:0;
        top:calc(50% - 50px);
        z-index: 5;
    }
    #modi_site_num{/*右侧选中站点数量的角标*/
        vertical-align: super;
        top: 4%;
        left: -13%;
        position: absolute;
        display: none;
    }
    #fileter_site_type,#checkec_modi{/*右侧筛选按钮外壳*/
        margin-top:10px;
        display:block;
        color: #FFF;
        background-color: #428BCA;/*#AAA;*/
        text-align: center;
        vertical-align: middle;
        line-height: normal;
    }
    #xm_modi li{
        overflow: hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
    }
    #fileter_site_type:hover,#checkec_modi:hover{
        background-color: #438EB9;
    }
    #fileter_site_type i,#checkec_modi i{/*右侧筛选按钮图标*/
        font-size: 40px;
    }
    #checkec_modi i{
        padding-top:3px;
    }
    #fileter_site_type:hover i,#checkec_modi:hover i{
        display: none;
    }
    #fileter_site_type span.filter_font,#checkec_modi span.filter_font{/*右侧筛选文字*/
        font-size: 17px;
        display: none;
    }
    #fileter_site_type:hover span.filter_font,#checkec_modi:hover span.filter_font{
        display: block;
    }
    #site_modi_box{/*右侧站点更改相关信息*/
        width:calc(100% - 36px);
        margin:10px 0px 0 26px;
    }
    #site_modi_box td,#site_modi_box th{
        border:1px solid #A8A8A8;
        text-align:center;
    }
    #site_modi_box th{
        background-color: #f3f5f9;
    }
    #search{/*搜索框*/
        min-width:200px;
        height:35px;
        width:10%;
        padding-right:18px;
        position:inherit;
        font-size:14px;
        border-radius: 6px !important;
    }
    .icon-search{margin-left: -18px;}/*搜索图标*/
    .div-title,.div-gongju{/*标题行、蓝色工具行*/
        width:93%;margin:0 auto;
    }
    fieldset{/*站点类型盒子*/
        width:93%;margin:20px auto;padding:20px;border:2px solid #A8A8A8;
    }
    legend{/*站点类型名称*/
        margin-left:20px;padding:5px;width:auto;margin-bottom: 0px;
    }
    .modi_button{/*站点修改的铅笔图标*/
        position: absolute;
        right: 2px;
        bottom: 0;
        width: 16px;
        height: 20px;
        cursor: pointer;
        z-index: 3;
        opacity:0;
    }
    .remove_button{
        position: absolute;
        right: 1px;
        top: 0;
        width: 16px;
        height: 20px;
        cursor: pointer;
        z-index: 3;
        opacity:0;
    }
    .item [class*="col-"]:hover .modi_button,.item [class*="col-"]:hover .remove_button{
        opacity:1;
    }
    #msg{
        position:fixed; 
        top:300px; 
        right:35px; z-index:10000; width:1px; height:52px; line-height:52px; font-size:20px; text-align:center; color:#fff; background:#360; display:none}
    .u-flyer{/*飞入右侧弹出层元素的样式*/
        display: block;
        width: 133px;
        height:44px;
        font-size: 14px !important;
        border-radius: 8px;
        background-color:#DFF0D8;
        border-color:#DFF0D8;
        text-overflow: ellipsis;
        position: fixed;
        z-index: 9999;
    }
    .item [class*="col-"] {/*包含站点所有信息的div*/
        width: 133px;
        height:44px;
        margin-top:2px;
        margin-bottom:2px;
        position:relative;
        text-overflow:ellipsis;
    }
    .item [class*="col-"]  div.label_div,.item [class*="col-"]  label{
        //cursor: pointer;
        position:relative;
        z-index:2;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        //white-space: nowrap;
        width: 100%;
        height: 100%;
        margin: 0;
        text-align:left;
    }
    .item [class*="col-"]:before {
        position:absolute;
        top:0; bottom:0;
        left:2px; right:2px;
        content:"";
        display:block;
        border:1px solid #DDD;
        z-index: 1;
    }
    .item [class*="col-"]:hover:before {
        background-color:#FCE6A6;
        border-color:#EFD27A;
    }
    .item [class*="checked"]:before {
        background-color:#DFF0D8;
        border-color:#DFF0D8;
    }
    /*####树状图css8*/
    #tree{
        text-align: center;vertical-align:middle;min-height:100px;
    }
    .node circle {
        cursor: pointer;
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
    .node text {
        font-size: 14px;
    }
    path.link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }
    .circle_g{
        stroke:"none";
        stroke-width:"1" ;
        fill:"none" ;
        width:20px;
        height:20px;
        /*fill-rule:"evenodd";*/
    }
    /*树状图css 结束*/
    .no_show_tishi{/*搜索不到站点时增加的提示*/
        text-align: center !important;
        color:#AFADAD;
        font-size: 16px;
    }
</style>
