<tr align='center' class="line">
<td nowrap  >{$i}</td>
<td nowrap  >{$cy_date}</td>
<td >{$cj_arr[$vid]}</td>
<td >{$px['count']}</td>
<td >{$px['kzl']}</td>
<td style="color:blue;cursor:pointer" onclick="window.open('$rooturl//huayan/assay_pay_list.php?year=$year&month=$month&fx_item_c={$px['vid']}')">{$px['vid']}</td>
<td nowrap>{$px['xdpc']}</td>
<td nowrap>{$px['pj']}</td>
<td >{$kb['count']}</td>
<td >{$kb['kzl']}</td>
<td style="color:blue;cursor:pointer" onclick="window.open('$rooturl//huayan/assay_pay_list.php?year=$year&month=$month&fx_item_c={$px['vid']}')">{$kb['vid']}</td>
<td nowrap>{$kb['xdpc']}</td>
<td nowrap>{$kb['pj']}</td>
<td></td>
</tr>
