 <tr  align="center" >
    <td style="color: $color; width:2cm;" onmouseover="showToolTip(event,'$xmname <br />化验员：$arrtd[userid]');return false" onmouseout="hideToolTip()"> <font size="3px">$xmname</font></td>
    <td style="width:4cm;"><font size="3px">$unit</font></td>
    <td style="width:0.8cm;" onclick="javascript:window.open('$rooturl/assay_form_zls.php?tid=$tid&xid=$xmid','_blank');" onmouseover="showToolTip(event,'$xmname $vd0_line');return false" onmouseout="hideToolTip()" ><font size="3px">$jie</font></td>
    <td style="width:1cm;"><font size="3px">$jcbz</font></td>
    <td style="width:2cm; font-size:16px;"  >$yiju</td>
  </tr>

