<div style="width:17cm;height:50px"></div>
<h4 style="line-height:2em;font-family:华文新魏;font-size:23px;" align="center">{$jcdw[hub_name]}</h4>
<h2 align="center" style="letter-spacing:20px">检测报告</h2>
<table style="border-color:#000;border-collapse:collapse; max-width: 23cm;   min-width: 17cm;   margin-right:auto; margin-left: auto; width:17cm; " align="center">
    <tbody>
        <tr class="firstRow">
            <td style="word-break: break-all;" width="68%">报告编号：(水监)字 2014 第 1 号</td>
            <td align="right" style="letter-spacing:5px">第 1 页共 {$z_page} 页</td>
        
        </tr>
    </tbody>
</table>
<table style="border-color:#000;border-collapse:collapse; max-width: 23cm;   min-width: 17cm;   margin-right:auto; margin-left: auto; width:17cm;" align="center" border="1" cellpadding="4">
    <tbody>
        <tr class="firstRow" height="40px">
            <td colspan="2" style="font-size:18px">样品名称：{$xc[site_name]}水样等</td>
            <td colspan="2" style="font-size:18px">样品编号：$ypbh 等</td>
        </tr>
        <tr height="40px">
            <td colspan="2" style="font-size:18px">样品类型：{$szlx}</td>
            <td colspan="2" style="font-size:18px">样品数量：{$ypsl} </td>
        </tr>
        <tr height="40px">
            <td colspan="2" style="font-size:18px">委托单位：{$wtdw}</td>
            <td colspan="2" style="font-size:18px">通讯地址：</td>
        </tr >
        <tr height="40px">
            <td colspan="2" style="font-size:18px">联系人员：</td>
            <td colspan="2" style="font-size:18px">联系电话：</td>
        </tr>
		        <tr height="40px">
            <td colspan="2" style="font-size:18px">采样日期：$cysj</td>
            <td colspan="2" style="font-size:18px">检测日期：$jcrq</td>
        </tr>
        <tr height="40px">
            <td colspan="2" style="font-size:18px">送样日期：$cysj</td>
            <td colspan="2" style="font-size:18px">检测环境：$jcwd $jcsd</td>
        </tr>
        <tr height="40px">
            <td colspan="4" style="font-size:18px">检测单位：{$jcdw['hub_name']}</td>        
        </tr>
       <tr height="60px">
            <td colspan="4" style="font-size:18px">备注：无</td>        
        </tr>
    </tbody>
</table>
<table style="border-color:#000;border-collapse:collapse; max-width: 23cm;   min-width: 17cm;   margin-right:auto; margin-left: auto; width:17cm;" align="center" border="0" cellpadding="4">

        <tr rowspan="2">
            <td colspan="2" style="font-size:18px">制表：</td>
            <td colspan="2" style="font-size:18px">审核：</td>
        </tr>
        <tr height="80px">
            <td colspan="2" style="font-size:18px;letter-spacing:10px" align="center">月 日</td>
            <td colspan="2" style="font-size:18px;letter-spacing:10px" align="center">月 日</td>
        </tr>
        <tr>
            <td colspan="2" style="font-size:18px;">批准签发人：</td>
            <td colspan="2" style="font-size:18px;letter-spacing:10px"> 年 月 日 </td>
        </tr>
        <tr height="80px">
            <td colspan="2" style="font-size:18px" align="center">职务：技术负责人</td>
            <td colspan="2" style="font-size:18px" align="center">检测机构（盖章）</td>
        </tr>
  
</table>
<div style="PAGE-BREAK-AFTER: always"></div>