<div style="background-color: #FFFFFF; width:20cm;margin:0 auto;" >
<table style="border-color:#000;border-collapse:collapse; background-color: #FFFFFF; width:19cm;" align="center" border="0" cellpadding="0">
	<tbody>
		<tr class="firstRow" style="height:0.8cm">
			<td style="font-size:16px">制表：</td>
			<td style="font-size:16px">审核：</td>
			<td style="font-size:16px">批准人：</td>
		</tr>
		<tr style="height:0.8cm">
			<td colspan="3" style="font-size:16px;text-align:right;"><br>（批准人职务：{$qf_user_position}）：</td>
		</tr>
		<tr style="height:0.8cm">
			<td style="font-size:16px;letter-spacing:10px" align="center">年 月 日</td>
			<td style="font-size:16px;letter-spacing:10px" align="center">年 月 日</td>
			<td style="font-size:16px;letter-spacing:10px" align="center">年 月 日</td>
		</tr>
	</tbody>
</table>
</div>

