<div style="background-color: #FFFFFF; width:20cm;margin:0 auto;" >
<table style="width:19cm;padding-top:20px" align="center">
	<tbody>
		<tr class="firstRow">
			<td style="text-align:center;font-weight:bold;font-family:宋体;font-size:28pt;height:2cm">声&nbsp;&nbsp;&nbsp;明</td>
		</tr>
		<tr>
			<td style="line-height: 2em; font-family:宋体; font-size: 16pt; word-break: break-all;padding-left:50px;padding-right:50px"><br/>1、检测报告无本单位 “检测专用章”无效；<br/>2、检测报告的复印件未重新加盖“检测专用章”无效；<br/>3、检测报告无审核人、批准人签字或无骑缝章均无效；<br/>4、对检测结果有异议，可以自收到报告之日起及时反馈；<br/>5、由委托人送检的样品，仅对送检样品检测项目的检测结果负责；<br/>6、竭诚为您服务，真诚欢迎用户多提宝贵意见。<br/>
		</tr>
	</tbody>
</table>
<table style="width:19cm;padding-top:4cm;" align="center">
	<tbody>
		<tr class="firstRow">
			<td><strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;<br/></td>
		</tr>
		<tr class="firstRow" style="line-height:2em;font-family:宋体;font-size:14pt;">
			<td style="padding-left:50px;">通讯地址：{$jcdw[Address]}<br/></td>
		</tr>
		<tr style="line-height:2em;font-family:宋体;font-size:14pt;">
			<td style="padding-left:50px;">邮政编码：{$jcdw[youbian]}<br/></td>
		</tr>
		<tr style="line-height:2em;font-family:宋体;font-size:14pt;">
			<td style="word-break: break-all;padding-left:50px">联系电话：{$jcdw[Phone]}</td>
		</tr>
		<tr style="line-height:2em;font-family:宋体;font-size:14pt;">
			<td style="word-break: break-all;padding-left:50px">传真号码：{$jcdw[Phone]}</td>
		</tr>
		<tr style="line-height:2em;font-family:宋体;font-size:14pt;">
			<td style="padding-left:50px;">联 系 人：{$jcdw[user]}<br/></td>
		</tr>
	</tbody>
</table>
</div>