<link rel="stylesheet" href="{$rooturl}/js/table-master/bootstrap-table.css" />
<link rel="stylesheet" href="{$rooturl}/css/bootstrap-editable.css" />
<script type="text/javascript" src="{$rooturl}/js/table-master/bootstrap-table.js"></script>
<script type="text/javascript" src="{$rooturl}/js/table-master/bootstrap-table-cookie.js"></script>
<script type="text/javascript" src="{$rooturl}/js/table-master/bootstrap-table-editable.js"></script>
<script type="text/javascript" src="{$rooturl}/js/table-master/bootstrap-editable.js"></script>
<script type="text/javascript" src="{$rooturl}/js/x-editable/ace-editable.min.js"></script>
<div class="outerBox">
	<div class="widget-box transparent" style="margin:0;">
		<div class="widget-header center">
			<h3 class="header smaller title" style="color:#000;">人员管理</h3>
			<div class="widget-toolbar no-border">
				<!-- {if $u['admin'] || $u['system_admin']} -->
				<a data-action="settings" href="#">
					<i class="icon-cog"></i>
				</a>
				<!-- {/if} -->
				<!-- <a href="#" data-action="collapse">
					<i class="icon-chevron-up"></i>
				</a> -->
			</div>
		</div>
	</div>
	<div id="toolbar" class="header-color-blue4" style="padding-top:10px;">
		<input type="hidden" name="fzx" value="{$fzx_id}" />
		<input type="hidden" name="is_xmfb" value="{$_GET['is_xmfb']}" />
		<table style="max-width:900px">
			<tr>
				<td>任务性质：{echo PublicApp::get_select('site_type',$global['site_type'],true,true);}</td>
			</tr>
		</table>
	</div>
</div>
<table id="bootstrapTable" class="table center"></table>
<div id="pay_list_setting" class="modal fade" data-backdrop="static">
	<div class="modal-content" style="width:800px;margin:0 auto;overflow:auto;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="关闭窗口">&times;</button>
			<h3 class="center">化验任务列表设置</h3>
		</div>
		<div class="modal-body">
			<div style="text-align:right;margin-bottom:10px;">
				<button type="button" class="btn btn-xs btn-primary add_group">新建分组</button>
			</div>
			<table class="table table-striped table-bordered table-hover center">
				<tbody>
				<tr>
					<th style="width:30%">分组名称</th>
					<th style="width:70%">分组人员</th>
				</tr>
				</tbody>
				<tbody class="hyy_group">
				</tbody>
			</table>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary btn-sm submit" aria-hidden="true">确定</button>
			<button type="button" class="btn btn-sm" data-dismiss="modal" aria-hidden="true" title="关闭窗口">关闭</button>
		</div>
	</div>
</div>
<script type="text/javascript">
// 定义本页面的cookieName
var cookieName = "pay_list";
// 化验单列表设置
$("[data-action=settings]").unbind("click").on("click",function(){
	var set_modal	= $("#pay_list_setting");
    set_modal.modal("show");
});
$(".submit").click(function(){
    var set_modal	= $("#pay_list_setting");
    set_modal.modal("hide");
});
//获取最新的URL地址
var get_url = function(){
	return 'user_manage.php?ajax=1';
}
//.editable的click事件绑定
var editClickEvents = {
	'click .editable':function(e, value, row, index){select2
		//如果已注册editable方法事件则不再重复注册
		if( $(this).parents("td").find("span.editable-click").length ){
			return false;
		}
		var index = $(this).parents("tr").attr("data-index");	//数据id
		var n = $(this).parents("tr").find("td").index($(this).parents("td"));		//当前列所在位置
		var editableTitle = $("#bootstrapTable thead tr th:eq("+n+")").text();		//当前列数据名称
		var field = $("#bootstrapTable thead tr th:eq("+n+")").attr("data-field");	//当前数据参数名称
		//通过参数匹配关联数据id
		var field_value = {userid: 'uid', userid2: 'uid2'}
		//注册editable即点即改功能
		$(this).editable({
			type: 'select2',
			title: '修改'+editableTitle,
			showbuttons: true,
			select2: {
				// allowClear: true,
				placeholder: '--请选择--'
			},
			value : row[field_value[field]],
			source: function(){
				var options = [];
				$("select[name=uid] option").each(function(){
					if( $.isNumeric($(this).attr("value")) ){
						options.push({id: $(this).attr("value"), text: $(this).html()});
					}
				});
				return options;
			},url: function(params){
				var d = new $.Deferred;//回调延迟的对象
				eval("var prop = {'tid[]': row.id, "+field_value[field]+":params.value};");
				$.ajax({
					type: 'post',
					data: prop,
					dataType: 'json',
					url: 'ahlims.php?app=pay_list&act=modi_pay_user&ajax=1',
					success: function(data){
						if(data.error=='0'){
							d.resolve();
						}else{
							return d.reject(data.content);
						}
					},error: function(data){
						return d.reject(data.responseText);
					}
				});
				return d.promise();
			}
		});
		$(this).trigger("click");
	}
}
//使用js激活bootstrapTable样式
var payListTable = $('#bootstrapTable').bootstrapTable({
	cookie: "true",
	cookieIdTable: cookieName,
	cache: false,
	url: get_url(),
	height: get_height(),
	uniqueId: 'id',
	toolbar: "#toolbar2",
	toolbarAlign: "left",
	toolbarClass: "header-color-blue4",
	showColumns: true,
	showRefresh: true,
	minimumCountColumns: 3,
	clickToSelect:true,
	pagination: true,
	sidePagination: 'server',
	pageSize:25,
	pageList: [25, 50, 100, '全选'],
	search: true,
	formatSearch: function () {
		return '请输入要搜索的信息';
	},
	columns: [
		{
			width: '50px',
			field: 'checkbox',
			checkbox: true
		},
		{
			width: '6%',
			field: 'xuhao',
			title: '序号'
		},
		{
			width: '7%',
			field: 'id',
			title: 'ID'
		},
		{   width: '7%',
			field: 'userid',
			title: '姓名',
			sortable: true,
			events: editClickEvents,
			formatter: function(value, row, index){
				return value;
			}
		},
		{
			width: '12%',
			field: 'option',
			title: '操作',
			cellStyle: function cellStyle(value, row, index) {
				return {
					css: {},
					classes: 'visible-md visible-lg hidden-sm hidden-xs action-buttons'
				};
			},
			formatter: function(value, row, index){
				// #0分隔符#1style样式#2绑定事件class#3颜色class#4title内容#5图标
				if(row.printed=='1'){
					var pr_color='red';
					var pr_title ='化验单已打印'
				}else{
					var pr_color='blue';
					var pr_title ='打印化验单'
				}
				var but_tpl = '#0<a #1 class="#2_'+row.id+' tooltip-info #3" data-rel="tooltip" title="#4" href="javascript:void('+row.id+')"><i class="icon-#5 bigger-130"></i></a>';
				return '<div style="white-space:nowrap;text-align:left;padding-left:3rem;">'
					+ but_tpl.replace("#0",'').replace("#1",'').replace("#2",'print_').replace("#3",pr_color).replace("#4",pr_title).replace("#5",'print')
					+ ( ( true == row.canDel ) ?
						but_tpl.replace("#0",' | ').replace("#1",'').replace("#2",'del_').replace("#3",'red').replace("#4",'删除化验单').replace("#5",'remove')
						: but_tpl.replace("#0",' | ').replace("#1",'style="cursor: not-allowed;color:#ccc"').replace("#2",'not-allowed').replace("#3",'tooltip-error').replace("#4",'已经签字！').replace("#5",'remove')
					) + '</div>';
			},
			events: {
				'click a[class^=print]': function (e, value, row, index) {
					window.open('ahlims.php?app=print&act=print_hyd&ajax=1&tid='+row.id);
				},
				'click a[class^=del_]': function (e, value, row, index) {
					$.confirm({
						content: '你确定要删除化验单【<strong class="red">'+row.id+'</strong>】【<strong class="red">'+row.assay_element+'</strong>】吗？',
						confirm: function(){
							$.ajax({
								type: 'post',
								dataType: 'json',
								data: {'tid[]': row.id},
								url: 'ahlims.php?app=pay_list&act=del_pay_by_id&ajax=1',
								success: function(data){
									if( '0' == data.error ){
										// payListTable.bootstrapTable('removeByUniqueId', row.id);
										payListTable.bootstrapTable("refresh", {silent: true, url: get_url()});//xuanran
									}else{
										alert_error(data.content,'danger');
									}
								},error: function(data){
									alert_error(data.responseText);
								}
							});
						}
					});
				}
			} // events End
		}
	],
	onLoadSuccess: function(data){
		// tooltip
		$('[data-rel="tooltip"]').tooltip();
		$('[data-rel=popover]').popover({html:true});
		// 有时候表格高度渲染失败
		setTimeout(function () {
            payListTable.bootstrapTable('resetView');
        }, 200);
		//设置滚动条快速滑动。
		$(window.parent.document.body).find("#full-top").click(function () {
			payListTable.bootstrapTable('scrollTo', 0);
		});
		$(window.parent.document.body).find("#full-btm").click(function () {
			payListTable.bootstrapTable('scrollTo', 'bottom');
		});
	}
});
// 重置表格高度
$(window).resize(function () {
	payListTable.bootstrapTable('resetView', { height: get_height() });
});
// 当化验单被选中时批量操作按钮才可操作
payListTable.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
	$("#toolbar2 button").prop('disabled', !payListTable.bootstrapTable('getSelections').length);
	var selections = getIdSelections();
});
function get_height(){
	var height = $(window).height() - $('.pay-list-header').outerHeight(true) - $(".outerBox").height();
	return height < 300 ? 300 : height;
}
</script>