<style>
    .jumpLink {
        text-decoration: underline;
        color: blue;
        cursor: pointer;
    }
        .data{
        margin-top:40px;
        /*height:250px;*/
    }
    table.table td{
        text-align: center;
        font-size:16px;
    }
    table.table tbody tr:hover{
        background: #4e7fe1;
        color:#fff;
    }
    table.table tr td:first-of-type span{
        width:100px;
        display:inline-block;
        text-overflow: ellipsis;
        white-space:nowrap;
        overflow: hidden;
        text-align: center;
    }

    .ag-blue .ag-header-group-cell-label .ag-header-group-text{
        width: 100%;
        text-align: center;
        display: block;
    }
    .ag-header-cell-label .ag-header-cell-text{
        width: 100%;
        text-align: center;
    }
</style>
<div class="widget-box transparent" style="margin:0;">
    <div class="widget-header center">
        <h3 class="header smaller title" style="color:#000;">仪器设备一览表 共{$num}台设备</h3>
    </div>
</div>

<div class="widget-header header-color-blue4 center">
    <div class="widget-toolbar">
        <!--蓝色工具栏-->
        {$select}
        <input placeholder="搜索......" type="text" oninput="onFilterChanged(this.value)">
        <a href='../user_manage/yiqi_add.php' class='btn btn-xs btn-primary no-print'>添加设备</a>
    </div>
</div>
<div class="container-fluid">
    {$ui_ag_grid}
</div>
<script>
    $(function () {
        $("#myGrid").height($(window).height() - 140);
        get_ag_grid_data();
    })
    Q_gridOptions.getRowStyle = function(params) {
        if (params.node.data.red === 1) {
            return { background: 'red' }
        }
    }
    //获取数据
    function get_ag_grid_data() {
        var url = '{__ROOTURL__}/app_modal/yiqi_list.php?ajax=1&fzx='+$('#fzx').val();
        $.get(url, function (resp) {
            handle_ag_grid(resp);
        }, 'json')
    }
    function ag_grid_cellClick(obj) {
        if (obj.colDef.field == 'yq_mingcheng') {
            location.href = '{__ROOTURL__}/app_modal/yiqi_files.php?id=' + obj.data.id+'&type=wxjl';
        }
        if (obj.colDef.field == 'xiugai') {
          if(obj.data.fzx_id=={$u[fzx_id]}){
            location.href = '{__ROOTURL__}/app_modal/yiqi_update.php?id=' + obj.data.id;
          }
        }
        if (obj.colDef.field == 'del') {
          if(obj.data.fzx_id=={$u[fzx_id]}){
            var msg = "您真的确定要删除吗？\n\n请确认！";
            if (confirm(msg) == true) {
                location.href = '{__ROOTURL__}/app_modal/yiqi_list.php?del=1&id=' + obj.data.id;
            } else {
                return false;
            }
          }
        }
        //console.log(obj);
        // console.log(obj.data);
        // console.log(obj.colDef);
        // var field = obj.colDef.field;
        // var tag = $.inArray(field, ['one_level_jifei_list_num','loumen_meter_list_num']);
        // console.log(tag);
        // location.href = '{__ROOTURL__}/site/siteInfo.php?sid='+obj.data.id;
    }
    function onFilterChanged(newFilter) {
        Q_gridOptions.api.setQuickFilter(newFilter);
    }
    function fzx_list(){
        location.href = '{__ROOTURL__}/app_modal/yiqi_list.php?fzx='+$('#fzx').val();
    }

</script>
