<table>
    <tr>
        <td>历史最大值</td>
        <td>历史最小值</td>
        <td>上月同期值</td>
        <td>去年同期值</td>
        <td>曲线上限</td>
        <td>曲线下限</td>
        <td>标准限值</td>
    </tr>
    <tr>
        <td>{$popover_msg['data']['max']}</td>
        <td>{$popover_msg['data']['min']}</td>
        <td>{$popover_msg['data']['last_month']}</td>
        <td>{$popover_msg['data']['last_year']}</td>
        <td>{$popover_msg['data']['qx_max']}</td>
        <td>{$popover_msg['data']['qx_min']}</td>
        <td>{$popover_msg['data']['bz_xz']}</td>
    </tr>
</table>