<from>

    <div style="    margin: 10px;">
        <input style="    width: 300px;" type="text" onkeyup="pySearch(this);" placeholder="请输入搜索内容">
        <button style="margin-left: 120px;" class="btn btn-primary" type="button" onclick="xm_update()">保存</button>
      
        <input type="text" value="$cid" name="cid" style="display:none">
    </div>

    <div class="xm-check">
        $ckxmhtml
    </div>
    <br>

    <div>

        <div class="xm-nocheck">
            $nockxmhtml
        </div>
    </div>

</from>