<link rel="stylesheet" href="{__ROOTURL__}/template/ag_grid/css/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="{__ROOTURL__}/template/ag_grid/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="{__ROOTURL__}/template/ag_grid/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="{__ROOTURL__}/template/ag_grid/js/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="{__ROOTURL__}/template/ag_grid/js/jquery.ztree.exedit.js"></script>
<script type="text/javascript">
    var Q_newCount = 1;//新增节点时计数
    var setting = {
        check: {
            enable: true
        },
        view: {
            addHoverDom: addHoverDom,
            removeHoverDom: removeHoverDom,
            selectedMulti: false
        },
        edit: {
            enable: true,
            editNameSelectAll: true,
            showRemoveBtn: true,
            showRenameBtn: true
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            beforeDrop: beforeDrop,
            beforeDrag: true,　
            beforeEditName: true,
            beforeRemove: beforeRemove,
            beforeRename: beforeRename,
            onRemove: true,
            onRename: true
        }
    };
    var zNodes = {$json_set_conf_data};
    
    $(document).ready(function(){
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    });
    
    function add_root_node(){
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        zTree.addNodes(null, {
            id:(100 + Q_newCount),
            checked:true,pId:null,
            name:"新的顶级节点: " + (Q_newCount++)
        });
    }
    
    function save_all_data(){
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        var data  = {};
        data['nodes']=zTree.getNodes();
        data['key']=$("#table_key").val();
        
        console.log(data);
        $.post("{__ROOTURL__}/huayan/ahlims.php?app=ag_grid&act=ag_grid_save",data,function(resp){
            console.log(resp);
            if(resp=='ok'){
                alert("save 完成");
            }else{
                alert(resp);
            }
        })
    }
    
    //下面是各种回调函数
    function beforeDrop(treeId, treeNodes, targetNode, moveType) {
        return !parseInt(targetNode.pId);
    }

    function beforeRemove(treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        zTree.selectNode(treeNode);
        return confirm("确认删除 节点 -- " + treeNode.name + " 吗？");
    }
    
    function beforeRename(treeId, treeNode, newName, isCancel) {
        if (newName.length == 0) {
            setTimeout(function() {
                var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                zTree.cancelEditName();
                alert("节点名称不能为空.");
            }, 0);
            return false;
        }
        return true;
    }

    function addHoverDom(treeId, treeNode) {
        if(treeNode.pId) return false;

        var sObj = $("#" + treeNode.tId + "_span");
        if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;

        var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
            + "' title='add node' onfocus='this.blur();'></span>";
        sObj.after(addStr);
        var btn = $("#addBtn_"+treeNode.tId);
        if (btn) btn.bind("click", function(){
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            zTree.addNodes(treeNode, {
                id:(100 + Q_newCount),
                pId:treeNode.id, 
                name:"新节点: " + (Q_newCount++) 
            });
            return false;
        });
    };
    
    function removeHoverDom(treeId, treeNode) {
        $("#addBtn_"+treeNode.tId).unbind().remove();
    };    
</script>

<div class="content_wrap">
    表单标识：
    <input type="text" value="{$table_key}" id="table_key">
    <button onclick="add_root_node()">添加节点</button>
    <button  onclick="save_all_data()">保存当前数据</button>
    <div class="zTreeDemoBackground left">
        <ul id="treeDemo" class="ztree"></ul>
    </div>
    <div class="right"></div>
</div>
