<script type="text/javascript" src="{__ROOTURL__}/js/ag-grid/locale.zh_cn.js"></script>
<script type="text/javascript" src="{__ROOTURL__}/js/ag-grid/ag-grid.js"></script>
<div class="row hide" style="padding:10px">
	<div class="col-md-9">
		<div class="col-md-4">
				<input placeholder="搜索..." type="text"  oninput="onFilterChanged(this.value)"
					 class="form-control">
		</div>
		<div class="col-md-4">
			<button class="btn btn-info" onclick="onBtExport()">导出csv</button>
		</div>
	</div>
</div>
<div id="myGrid" style="height: 500px;" class="ag-fresh ag-blue"></div>
<script>
//请在使用本功能的界面调用函数 handle_ag_grid(table_data)
var Q_columnDefs = {$ag_grid_data['columnDefs']};
var Q_gridOptions = {$ag_grid_data['gridOptions']};
Q_gridOptions['columnDefs']=Q_columnDefs;
Q_gridOptions['localeText']=ag_localeText;
//获取文件地址 制定不同的图表响应函数
var url = window.location.pathname;
var index = url .lastIndexOf("\/");
url  = url .substring(index + 1, url .length);
if(url=='user_list.php'){
	//进入编辑模式触发函数
	Q_gridOptions['onCellEditingStarted']=function(event){content=event.value};
	//内容修改完毕触发函数 判断内容是否更改 如果更改则修改数据库
	Q_gridOptions['onCellEditingStopped']=function(event){
	n_content=event.value;
	if(content!=n_content){
		var sql_field=event.colDef.field;
		var sql_content=event.value;
		var sql_uid=event.data.uid;
		$.get('user_list.php?edit=1&sql_field='+sql_field+'&sql_content='+sql_content+'&sql_uid='+sql_uid,'',function(data){

		});
	}
	};
}
if(url=='yiqi_list.php'){
	//进入编辑模式触发函数
	Q_gridOptions['onCellEditingStarted']=function(event){content=event.value};
	//内容修改完毕触发函数 判断内容是否更改 如果更改则修改数据库
	Q_gridOptions['onCellEditingStopped']=function(event){
	n_content=event.value;
	if(content!=n_content){
		var sql_field=event.colDef.field;
		var sql_content=event.value;
		var sql_id=event.data.id;
		$.get('yiqi_list.php?edit=1&sql_field='+sql_field+'&sql_content='+sql_content+'&sql_id='+sql_id,'',function(data){

		});
	}
	};
}
var Q_ag_grid_first = true;
//将表格数据传递过来后，进行表格展示,也支持刷新
function handle_ag_grid(data){
	if(Q_ag_grid_first){
		Q_ag_grid_first =false;
		Q_gridOptions.rowData=data;
		create_ag_grid();
	}
	else{
		Q_gridOptions.api.setRowData(data)
    }
	Q_gridOptions.api.addEventListener('cellClicked', function(obj){
		ag_grid_cellClick(obj);
	})
}

//获取到数据后,,创建表格
function create_ag_grid(){
    var eGridDiv = document.querySelector('#myGrid');
	new agGrid.Grid(eGridDiv, Q_gridOptions);
	autoSizeAll();
}

//让所有列自适应宽度
function autoSizeAll() {
    var allColumnIds = [];
    Q_columnDefs.forEach( function(columnDef) {
        allColumnIds.push(columnDef.field);
    });
		var url = window.location.pathname;
		var index = url .lastIndexOf("\/");
		url  = url .substring(index + 1, url .length);
		if(url=='shiwen.php'||url=='shiwen_yiqi.php'){
			Q_gridOptions.api.sizeColumnsToFit();
		}else{
			Q_gridOptions.columnApi.autoSizeColumns(allColumnIds);
		}

}

function onBtExport() {
    var params ={
		make:true,
        model: true,
        price: true,
        riqi: true,
    };
    Q_gridOptions.api.exportDataAsCsv(params);
}
function onFilterChanged(newFilter) {
  Q_gridOptions.api.setQuickFilter(newFilter);
}
</script>
