<h3 class="header smaller center title">AQC精密度偏性试验结果表</h3>
<div class="widget-box no-border" style="margin:15px;">
	<div class="widget-header header-color-blue4 center">
		<div class="widget-toolbar">
		</div>
	</div>
	<div class="widget-body">
		<table class="table table-striped table-bordered table-hover center">
			<thead class="center">
				<tr>
					<th style="width: 100px;">序号</th>
					<th style="width: 100px;">分析项目</th>
					<th>质控表</th>
					<th style="width: 100px;">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>-</td>
					<td>AQC精密度偏性试验结果表</td>
					<td>
						<a href="ahlims.php?app=zkb&act=zkb_05_view&year={$year}" target="_blank">查看</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>