<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>AQC精密度偏性试验结果表</title>
<link href="{$rooturl}/css/ace.min.css" rel="stylesheet" />
<link href="{$rooturl}/css/bootstrap.min.css" rel="stylesheet" />
<link href="{$rooturl}/css/lims/print.css" rel="stylesheet" />
<link href="{$rooturl}/css/lims/buttons.css" rel="stylesheet" type="text/css" />
<style type="text/css">
	*{text-align: center;}
	table{margin: 0 auto; min-width: 28cm;text-align: center;}
	table.single td{ min-height:40px; min-width: 20px;}
	table.single td input[type='text']{ width: 100%;}
	table.single textarea{width: 100%; height: 100%;}
	.padding_0 td{ padding:0;margin:0;line-height:15px;height:30px;}
	table.single tr.line:hover{ background-color:#ccc;}
	table.single td.nohover{ background-color:#FFF;}
</style>
</head>
<body>
	<div style="margin: 15px;">
		<table class="single">
			<tr>
			<td colspan="15" style="border:none;"><h3>AQC精密度偏性试验结果表</h3></td>
			</tr>
			<tr>
			<td colspan="2">单位</td>
			<td colspan="5">{$hub_info['hub_name']}</td>
			<td colspan="2">分析项目</td>
			<td></td>
			<td colspan="2">分析人员</td>
			<td colspan="3"></td>
			</tr>
			<tr>
			<td colspan="2">分析方法</td>
			<td colspan="5"></td>
			<td colspan="2">浓度单位</td>
			<td></td>
			<td colspan="2">分析时间</td>
			<td colspan="3"></td>
			</tr>
			<tr>
			<td colspan="2">批数</td>
			<td>1</td>
			<td>2</td>
			<td>3</td>
			<td>4</td>
			<td colspan="2">5</td>
			<td>6</td>
			<td colspan="6">标准曲线</td>
			</tr>
			<tr>
			<td>标准</td>
			<td>A</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			<td colspan="2">测定上限</td>
			<td colspan="2"></td>
			<td>r</td>
			<td></td>
			</tr>
			<tr>
			<td>曲线</td>
			<td>C</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			<td colspan="2">回归方程</td>
			<td colspan="4"></td>
			</tr>
			<tr>
			<td rowspan="4">空白</td>
			<td>A1</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			<td colspan="2">截距检验</td>
			<td colspan="4"></td>
			</tr>
			<tr>
			<td>A2</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			<td colspan="2"></td>
			<td colspan="2">S</td>
			<td colspan="2">备注</td>
			</tr>
			<tr>
			<td>C1</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			<td colspan="2" rowspan="2"></td>
			<td colspan="2" rowspan="2"></td>
			<td colspan="2" rowspan="2"></td>
			</tr>
			<tr>
			<td>C2</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			</tr>
			<tr>
			<td height="40" rowspan="2"><font class="font3">0.1</font><font class="font2">C</font></td>
			<td>C1</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			<td colspan="2" rowspan="2"></td>
			<td colspan="2" rowspan="2"></td>
			<td colspan="2" rowspan="2"></td>
			</tr>
			<tr>
			<td>C2</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			</tr>
			<tr>
			<td height="40" rowspan="2">0.9C</td>
			<td>C1</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			<td colspan="2" rowspan="2"></td>
			<td colspan="2" rowspan="2"></td>
			<td colspan="2" rowspan="2"></td>
			</tr>
			<tr>
			<td>C2</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			</tr>
			<tr>
			<td>天然</td>
			<td>C1</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			<td colspan="2" rowspan="2"></td>
			<td colspan="2" rowspan="2"></td>
			<td colspan="2" rowspan="2"></td>
			</tr>
			<tr>
			<td>水样</td>
			<td>C2</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			</tr>
			<tr>
			<td>加标</td>
			<td>C1</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			<td colspan="2" rowspan="2"></td>
			<td colspan="2" rowspan="2"></td>
			<td colspan="2" rowspan="2"></td>
			</tr>
			<tr>
			<td>水样</td>
			<td>C2</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			</tr>
			<tr>
			<td>统一</td>
			<td rowspan="2">C1</td>
			<td rowspan="2"></td>
			<td rowspan="2"></td>
			<td rowspan="2"></td>
			<td rowspan="2"></td>
			<td colspan="2" rowspan="2"></td>
			<td rowspan="2"></td>
			<td colspan="2" rowspan="3"></td>
			<td colspan="2" rowspan="3"></td>
			<td colspan="2" rowspan="2">RE%</td>
			</tr>
			<tr>
			<td>标样</td>
			</tr>
			<tr>
			<td><font class="font3">(</font><font class="font34">m</font><font class="font2">=<span style='mso-spacerun:yes;'>&nbsp;&nbsp; </span></font><font class="font3">)</font></td>
			<td>C2</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			<td colspan="2"></td>
			</tr>
		</table>
	</div>
</body>
</html>