<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>{$year}年实验室常规检测质控情况</title>
<link href="{$rooturl}/css/ace.min.css" rel="stylesheet" />
<link href="{$rooturl}/css/bootstrap.min.css" rel="stylesheet" />
<link href="{$rooturl}/css/lims/print.css" rel="stylesheet" />
<link href="{$rooturl}/css/lims/buttons.css" rel="stylesheet" type="text/css" />
<style type="text/css">
	*{text-align: center;}
	table{margin: 0 auto; min-width: 28cm;text-align: center;}
	table.single td{ min-height:40px; min-width: 20px;}
	table.single td input[type='text']{ width: 100%;}
	table.single textarea{width: 100%; height: 100%;}
	.padding_0 td{ padding:0;margin:0;line-height:15px;height:30px;}
	table.single tr.line:hover{ background-color:#ccc;}
	table.single td.nohover{ background-color:#FFF;}
	.overline {
		text-decoration: overline;
	}
	tr.left td{
		text-indent: 1em;
		text-align: left;
	}
</style>
</head>
<body>
	<div style="margin: 15px;">
		<table class="single">
			<tr>
			<td colspan="14"><h3>质控图</h3></td>
			</tr>
			<tr>
			<td colspan="2">单位</td>
			<td colspan="4">{$hub_info['hub_name']}</td>
			<td colspan="2">分析项目</td>
			<td colspan="2"></td>
			<td colspan="2">分析人员</td>
			<td colspan="2"></td>
			</tr>
			<tr>
			<td colspan="2">分析方法</td>
			<td colspan="4"></td>
			<td colspan="2">浓度单位</td>
			<td colspan="2"></td>
			<td colspan="2">分析日期</td>
			<td colspan="2"></td>
			</tr>
			<tr>
			<td>n</td>
			<td>1</td>
			<td>2</td>
			<td>3</td>
			<td>4</td>
			<td>5</td>
			<td>6</td>
			<td colspan="2">7</td>
			<td>8</td>
			<td>9</td>
			<td colspan="2">10</td>
			<td>11</td>
			</tr>
			<tr>
			<td>x</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			</tr>
			<tr>
			<td>n</td>
			<td>12</td>
			<td>13</td>
			<td>14</td>
			<td>15</td>
			<td>16</td>
			<td>17</td>
			<td colspan="2">18</td>
			<td>19</td>
			<td>20</td>
			<td colspan="2">21</td>
			<td>22</td>
			</tr>
			<tr>
			<td>x</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			</tr>
			<tr>
			<td>n</td>
			<td>23</td>
			<td>24</td>
			<td>25</td>
			<td>26</td>
			<td>27</td>
			<td>28</td>
			<td colspan="2">29</td>
			<td>30</td>
			<td>31</td>
			<td colspan="2">32</td>
			<td>33</td>
			</tr>
			<tr>
			<td>x</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td></td>
			</tr>
			<tr class="left">
			<td colspan="14">质控图：</td>
			</tr>
			<tr class="left">
			<td colspan="14">S=</td>
			</tr>
			<tr class="left">
			<td colspan="14">&nbsp;</td>
			</tr>
			<tr class="left">
			<td colspan="14"><span class="overline">X</span>+3S</td>
			</tr>
			<tr class="left">
			<td colspan="14"><span class="overline">X</span>+2S</td>
			</tr>
			<tr class="left">
			<td colspan="14"><span class="overline">X</span>+S</td>
			</tr>
			<tr class="left">
			<td colspan="14"><span class="overline">X</span></td>
			</tr>
			<tr class="left">
			<td colspan="14"><span class="overline">X</span>-S</td>
			</tr>
			<tr class="left">
			<td colspan="14"><span class="overline">X</span>-2S</td>
			</tr>
			<tr class="left">
			<td colspan="14"><span class="overline">X</span>-3S</td>
			</tr>
			<tr class="left">
			<td colspan="14"><span class="overline">X</span>=</td>
			</tr>
			<tr class="left">
			<td colspan="14" rowspan="3">结果分析及说明：</td>
			</tr>
		</table>
	</div>
</body>
</html>