.pglnr-ext-ruler {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    left: 0px;
    overflow: hidden;
    pointer-events: none;
}
.pglnr-ext-ruler, .pglnr-ext-ruler ul, .pglnr-ext-ruler li, .pglnr-ext-helpline, .pglnr-ext-helpline-tooltip, .pglnr-ext-distanceline{
    width: auto;
    height: auto;
    -webkit-appearance: none;
    box-sizing: border-box;
    opacity: 1;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: none;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    transition: none 0s ease 0s;
}
.pglnr-ext-ruler.pglnr-ext-ruler-top {
    width: 100%;
    height: 18px;
    top: 0px;
    z-index: 2147483499;
    /* cursor: row-resize; */
}
.pglnr-ext-ruler.pglnr-ext-ruler-left {
    width: 18px;
    height: 100%;
    top: 18px;
    z-index: 2147483400;
    /* cursor: col-resize; */
}
.pglnr-ext-ruler.pglnr-ext-ruler-top ul{
    position: absolute;
    left: 18px;
    top: 0;
    width: 100%;
    height: 18px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAPCAYAAAHR3KxUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIVJREFUeNpiZGBg+A8EjAxYABMDHgAQQIxAXQwk6QIIIEZ8duECWE1jZGT8j08MIIBwuo0kW2ijgZDbYQAggMgKLZp7g2qWEB0MpAQXrX0CEEAkp6uhFSejlgwOS6ieN5CLRnrkE4AAo0vZNWzifdQjox7Bl5mw5OjBpI5pKDoam7phk7QAld4xR8OisHAAAAAASUVORK5CYII=);
    height: 100%;
    list-style-type: none;
    background-repeat: repeat-x;
    background-position: left bottom;
    /*初始化计数器*/
    counter-reset: sectioncounter;
}
.pglnr-ext-ruler.pglnr-ext-ruler-left ul{
    position: relative;
    left: 0px;
    top: 3px;
    width: 18px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAyCAYAAAH0NbGvAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJdJREFUeNpi/P//PwMIMDFAAUkMgABixK2dASr1H48agACCS4E5jIz/UQRQjSNPAGQoQABh2EKpoYNJACCAMEIM3fdMDAQA+QpAxuNVAHQbI2VWDClHAgQQ3rjAq5sFn8vJN5Z8yVEHjToIAgACjAWfTry5gZjCh6L8RjPNLMT6j2zNsEJnNMBGA2w0wEYDjAYBhiswiAEA2WFVvmymn9oAAAAASUVORK5CYII=);
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    /* list-style-type: none; */
    background-repeat: repeat-y;
    background-position: right -17px;
}
.pglnr-ext-ruler.pglnr-ext-ruler-top li, .pglnr-ext-ruler.pglnr-ext-ruler-left li {
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 8px;
    text-align: left;
}
.pglnr-ext-ruler.pglnr-ext-ruler-top li {
    width: 100px;
    height: 16px;
    display: block;
    padding: 2px 0px 0px 4px;
}
.pglnr-ext-ruler.pglnr-ext-ruler-left li {
    width: 7px;
    height: 100px;
    display: block;
    float: none;
    overflow-wrap: break-word;
    line-height: 7px;
    padding: 4px 0px 0px 2px;
}
.pglnr-ext-ruler.pglnr-ext-ruler-top li:not(:first-child):after{
    content: counter(sectioncounter); 
    counter-increment: sectioncounter 100;
}
.pglnr-ext-helpline {
    /* pointer-events: none; */
    z-index: 2147483600;
}
.pglnr-ext-helpline:hover .pglnr-ext-helpline-tooltip{
    display: block;
}
.pglnr-ext-helpline-tooltip {
    background-color: rgb(255, 255, 255);
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(51, 51, 51);
    font-size: 10px;
    opacity: 0.65;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-image: initial;
    padding: 5px;
}
.pglnr-ext-helpline-tooltip:after {
    width: 0px;
    height: 0px;
    display: block;
    content: " ";
    position: absolute;
    border-color: transparent;
    border-width: 4px;
    border-style: solid;
}

.pglnr-ext-helpline-tooltip-x {
    top: 25px;
    left: -25px;
}
.pglnr-ext-helpline-tooltip-x:after {
    border-bottom-color: rgba(0, 0, 0, 0.6);
    left: 50%;
    bottom: 100%;
    margin-left: -4px;
}
.pglnr-ext-helpline-tooltip-y {
    top: -12px;
    left: 25px;
}
.pglnr-ext-helpline-tooltip-y:after {
    border-right-color: rgba(0, 0, 0, 0.6);
    right: 100%;
    top: 50%;
    margin-top: -4px;
}
.pglnr-ext-helpline-x {
    width: 1px;
    height: 100%;
    position: fixed;
    top: 0px;
    cursor: col-resize;
}
.pglnr-ext-helpline-x:before {
    width: 2px;
    height: 100%;
    display: block;
    content: " ";
    position: absolute;
    top: 0px;
    left: -2px;
    cursor: col-resize;
}
.pglnr-ext-helpline-x:after {
    width: 2px;
    height: 100%;
    display: block;
    content: " ";
    position: absolute;
    top: 0px;
    left: 1px;
    cursor: col-resize;
}
.pglnr-ext-helpline-y {
    width: 100%;
    height: 1px;
    left: 0px;
    cursor: row-resize;
    position: absolute !important;
}
.pglnr-ext-helpline-y:before {
    width: 100%;
    height: 2px;
    display: block;
    content: " ";
    position: absolute;
    top: -2px;
    left: 0px;
    cursor: row-resize;
}
.pglnr-ext-helpline-y:after {
    width: 100%;
    height: 2px;
    display: block;
    content: " ";
    position: absolute;
    top: 1px;
    left: 0px;
    cursor: row-resize;
}